[2014-02-14 22:10] ghost opened #11 "Withdrawn"
Withdrawn

[2014-02-14 22:18] #11 closed, assigned to nobody

[2014-02-14 23:03] ghost opened #12 "Unable to Implement 'Content-Type' Header."
Using flask-cors 1.1.1 installed via pip, adding `@cross_origin(headers='Content-Type')` to a particular app route does not result in `Content-Type` being returned as part of `Access-Control-Allow-Headers`.

Response headers solely consist of the following:

[code]

[2014-02-15 00:45] #12 closed, assigned to nobody

[2014-03-27 21:40] corydolphin opened #17 "Support default configuration for all parameters"
Would anyone else find it useful to allow configuration of default parameters for all options?

Currently, CORS_ORIGINS is supported as a flask configuration option, would adding the other params be useful for others, or just add cruft?

[2014-04-13 02:21] vsapronov opened #19 "Support calls of abort() inside of cross_origin annotated"
If I have cross_origin annotated Flask method and call abort() then CORS headers are not added to response. Not calling abort() from my methods is OK. Though some Flask plugins are using abort() function. For example Flask-Login does abort() calls.

[2014-04-25 16:25] #19 closed, assigned to nobody

[2014-05-23 21:11] ghost opened #26 "Apply CORS Based on Mimetype"
I am looking for the following functionality but I'm not sure if it is possible with the way flask-cors is setup. The following code works but I would prefer to use your app if possible. Can you think of a way I can do it?

[code]

[2014-06-01 00:30] #26 closed, assigned to nobody

[2014-06-11 05:13] Ceasar opened #27 "Support `Access-Control-Expose-Headers`"
Currently there is no way to expose these except by manually setting them on the request. Yet, they are helpful for exposing custom response headers, especially when developing a client and server in parallel.

See https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Expose-Headers for more information.

[2014-07-07 14:56] Siecje opened #28 "Can you put the decorator on a @before_request function?"
Can you put the decorator on a @before_request function?
I'm using Flask-HTTPAuth and serving JSON.

When I do I get the error "ValueError: View function did not return a response"

Here is how I am using it.
https://github.com/Siecje/flasky/blob/master/app/api_1_0/authentication.py
If you run the tests in the repo (python manage.py test) you will see the error message.

[code]

[2014-07-09 17:37] #28 closed, assigned to nobody

[2014-07-30 07:03] #17 closed, assigned to nobody

[2014-07-31 00:41] Resisty opened #38 "Cannot load CORS content"
Hello, I happened across your project after banging my head against trying to make an XMLHttpRequest in my javascript against my flask code (running on the same server, ports 8000 and 5000, respectively). No matter what I try, nothing gets past the "No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8000' is therefore not allowed access." error.

[2014-07-31 05:03] #38 closed, assigned to nobody

[2014-07-31 07:22] odk211 opened #39 "CORS_MAX_AGE option is forgotten"
flask_cors.py line 29 CONFIG_OPTIONS does not have CORS_MAX_AGE option.
is it collect?
thanks.

[2014-07-31 19:15] #39 closed, assigned to nobody

[2014-08-05 05:19] erdillon opened #42 "Can't get OPTIONS pre-flight to work"
Hi,

I'm getting a OPTIONS request from the browser as expected, but Flask returns 404 immediately.
I've got the "@cross_origin' decoration on my route.
I've got:
app.config['CORS_ORIGINS'] = ['http://localhost:9000']
app.config['CORS_HEADERS'] = ['Content-Type', 'Authorization']
app.config['CORS_AUTOMATIC_OPTIONS'] = True

What am I doing wrong?

Thanks,
Eric

[2014-08-05 06:01] #42 closed, assigned to nobody

[2014-08-15 15:22] marcoqu opened #54 "Regular expression or wildcard origins"
Is there any way to specify origins in a regular expression, so that urls matching the pattern are allowed? Eg: all subdomains from a given domain.. `r"https?://\w*\.?example\.com:?\d*/?.*"`

[2014-08-18 09:34] ghost opened #55 "DELETE not working?"
I was able to successfully send GET, POST, and PUT requests via CORS, but i'm having problems with DELETE.

I already posted a question on stackoverflow, http://stackoverflow.com/questions/25358368/cant-delete-when-post-put-and-get-works-angularjs-cors-flask-cors. If you wanna see the details,

and one of the guys suggested it might be an issue with flask-cors, since we both notice on your ALL_MET

[2014-08-18 09:50] #55 closed, assigned to nobody

[2014-08-18 21:53] maruina opened #56 "cannot import name CORS"
Hi!
I'm having some trouble with the import. When I try
`from flask.ext.cors import CORS`
I have the error
`ImportError: cannot import name CORS`

Do you have any idea? I installed the package with the command
`pip install flask-cors`

[2014-08-19 05:16] #56 closed, assigned to nobody

[2014-08-20 19:36] corydolphin opened #59 "CORS headers returned when origin requests mismatch"
https://github.com/wcdolphin/flask-cors/commit/22c6ff46f135afdefbc044554b9b90d75cc85508 documents and verifies this misbehavior.

[2014-08-20 19:36] #59 closed, assigned to nobody

[2014-08-22 04:30] #54 closed, assigned to nobody

[2014-08-22 08:06] corydolphin opened #65 "Add Authorization to 'Gotchas'/Pitfalls"
It would be great to document common use cases r.e. authorization so people don't have to spend too much time figuring it out.

http://stackoverflow.com/questions/24827857/flask-cors-wrapper-not-working-when-jwt-auth-wrapper-is-applied

[2014-08-27 18:41] corydolphin opened #66 "Secure defaults"
Let's be secure by default.

* Don't send headers if Origin not in request
* Default to only allowing idempotent verbs
* Tell people that CSRF is a thing
* Release v2.0.0 as it will change defaults and is not backwards compatible.

[2014-09-05 17:38] robertfw opened #67 "CORS Headers not added with uncaught exception"
I was having this issue with my own simple CORS handling, and found flask-cors, only to find it has the same problem.

The docs for after_request point out that the function may not be called if there is an unhandled exception: http://flask.pocoo.org/docs/0.10/api/#flask.Flask.after_request

The result is that the client ends up getting a no-cors header error instead of a 500 server error

[2014-10-28 16:07] olmar opened #78 "X-CSRFToken not send in Access-Control-Allow-Headers"
X-CSRFToken not sent in Access-Control-Allow-Headers when added as following:
`cors = CORS(app, headers="X-CSRFToken, Content-Type")`

The solution was to add `resp.headers[ACL_HEADERS] = options.get('headers')` here https://github.com/wcdolphin/flask-cors/blob/master/flask_cors.py#L251

The question is this a bug or CORS is somehow not properly configured?

[2014-10-30 02:33] #78 closed, assigned to nobody

[2014-12-11 05:18] #67 closed, assigned to nobody

[2014-12-12 08:35] joonathan opened #83 "Issue with functools.partial in 1.10.0 using Python 2.7.9"
When upgrading to 1.10.0 in environment with Python 2.7.0 following exception is thrown:

  File "/Users/joonathan/Development/App/application/app.py", line 61, in create_app
    configure_extensions(app)
  File "/Users/joonathan/Development/App/application/app.py", line 98, in configure_extensions
    cors.init_app(app)
  File "/Users/joonathan/.virtualenvs/App/lib/python2.7/site-packages/flask_c

[2014-12-12 21:09] diiq opened #84 "1.10 not compatible with example app"
Your example app suggests I can do something like this:

[code]

And indeed, in 1.9.0, I could, and life was peachy.

Upgrading to 1.10 results in origins being "*" regardless of the contents of this configuration, even when the credentials flag is set to true. As my browser immediately informed me,

[code]

If there's another way I should configure origins, what is it (and can you update the exam

[2014-12-13 02:45] #84 closed, assigned to nobody

[2014-12-13 02:45] #83 closed, assigned to nobody

[2014-12-18 19:31] #27 closed, assigned to nobody

[2014-12-28 06:20] noorbakerally opened #95 "Cross Origin Issue in Flask in spite of using flask"
I'm getting Cross Origin issue in flask inspite of using CORS, here is the small webservice:

from flask import Flask,request
import json
from flask.ext.cors import CORS
app = Flask(**name**)
CORS(app, resources='*', allow_headers='Content-Type')
cars = [{'color': 'red', 'brand': 'BMW', 'plateNumber': '567hghh', 'id': 1}, {'color': 'blue', 'brand': 'Ford', 'plateNumber': '6776hhgd', 'id': 2}, {'co

[2014-12-28 21:48] #95 closed, assigned to nobody

[2015-01-07 07:49] thetlk opened #97 "Allow headers doesn't works"
I've created this small rest api application

[code]

When I send request to this small sever, there is no ```Access-Control-Allow-Header``` HTTP header :
[code]

[2015-01-08 14:14] CoryDolphin commented on #97
Thanks for the detailed issue report! I will dig into this more tonight.
Off the cuff, can you verify that you are on the latest version? The
allow_headers parameter was introduced in the latest version released
(renamed from headers). (pip install -U flask-cors)

Cheers
On Wed, Jan 7, 2015 at 2:49 AM thetlk <notifications@github.com> wrote:

[2015-01-08 15:15] thetlk commented on #97
[code]

[2015-01-09 06:00] CoryDolphin commented on #97
Ahh, Access-Control-Allow-Headers are only returned in response to a pre-flight request. This is an OPTIONS request with the following constraints:

1. Include an Access-Control-Request-Method header with as header field value the request method (even when that is a simple method).
2. If author request headers is not empty include an Access-Control-Request-Headers header with as header field value

[2015-01-11 18:18] #97 closed

[2015-01-12 17:57] tvaughan opened #98 "Access-Control-Allow-Methods not sent"
I just updated from 1.9.0 to 1.10.2 and `Access-Control-Allow-Methods` is not being sent anymore. For example, the test script in [this comment](https://github.com/CoryDolphin/flask-cors/issues/78#issuecomment-60867342) seems to be broken now. What I see is:

[code]

[2015-01-13 04:17] CoryDolphin commented on #98
You are correct in that the documentation is out of date. If you send a
preflight request, including the access-control-request-method header, as a
browser does, it should work.

Curl does not do a very good job at emulating a browser, I will update the
examples.
On Mon, Jan 12, 2015 at 12:57 PM Tom Vaughan <notifications@github.com>
wrote:

[2015-02-09 23:10] CoryDolphin commented on #98
I have updated the documentation to CURL with headers a browser would send.

Closing this issue, let me know if I can help in any way!

[2015-02-09 23:10] #98 closed

[2015-03-04 18:47] cancan101 opened #110 "Access-Control-Request-Headers not Copied to Access-Control-Allow-Headers"
See how `ACL_REQUEST_HEADERS` is never used.

Something like this seems missing: https://github.com/cancan101/flask-cors/commit/4f9364414772be7df1a1de5dfc12f1ae79725d76

[2015-03-05 02:02] corydolphin commented on #110
Hi Alex, great find!

It looks like our [implementation](https://github.com/corydolphin/flask-cors/blob/master/flask_cors/__init__.py#L403) currently does not read and compare Access-Control-Request-Headers, but simply returns the list of allowed headers without performing comparison. This means we are slightly more permissive in the preflight phase than the spec dictates.

Practically, this means

[2015-03-05 02:04] cancan101 commented on #110
It did cause an issue. The current implementation is actually NOT more permissive than it should be. Without the patch I linked to, my browser was complaining about CORS issues.

[2015-03-05 04:29] corydolphin commented on #110
Crap, sorry about that! I did not mean for my tone to be so dismissive, please forgive me and help me understand the situation a little bit better.

As I understand it, `Access-Control-Request-Headers` is only used during the preflight phase of a request. The w3c spec says that if every element in this header is not found in our list of allowed headers, we should abort, and not send CORS headers.

[2015-03-06 00:26] cancan101 commented on #110
I am able to solve this problem by using `allow_headers` but in order to get my query to work, I need to set a pretty long list:
[code]
it seems that the right thing to do when in "wildcard" mode is to just copy over what is in the request header.

[2015-03-06 00:28] cancan101 commented on #110
I have been using [this](http://www.html5rocks.com/en/tutorials/cors/#toc-adding-cors-support-to-the-server), section: "Handling a not-so-simple request" as a reference.

[2015-03-06 00:45] corydolphin commented on #110
This behavior is definitely at odds with the wildcard matching of origins.
Philosophically I don't think flask-Cors is clear on whether it is most
permissive or most restrictive by default.

My current philosophy is that people rarely want to do anything other than
allow all methods and headers to a number of domains.

I've been meaning to do a 2X release changing the default behavior to what
this

[2015-03-06 00:58] cancan101 commented on #110
I can wait for another release. For the time being, I'm just using my patched fork.

[2015-03-16 00:40] corydolphin commented on #110
@cancan101 I have updated the package and cut a release of a 2.0 that changes the default behavior to allow all headers. Care to try it out and let me know how it works for you?

[code]

[2015-03-16 14:45] lhausmann opened #114 "Upgrading via pip not working"
Upgrading via pip from 1.10.3 to 2.0RC1 just re-installs 1.10.3

OS: MacOS 10.10.2
Python: 2.7.6
setuptools 14.3

[2015-03-23 22:18] eastein opened #115 "supports_credentials=False on cross_origin decorator gets interpreted incorrectly"
Version: 1.10.3

    myapp: INFO: attempting cors test
    myapp: DEBUG: actually applying the decorator now... deca=(), deckw={'automatic_options': True, 'supports_credentials': False, 'allow_headers': ['Content-Type']}, a=(), kw={}
    myapp: DEBUG: Hey there... request method is OPTIONS
    Flask-Cors: DEBUG: Request to '/corstests/test3' is enabled for CORS with options:{'origins': ['^(?i)http

[2015-03-24 03:57] corydolphin commented on #115
Ahh! This is fixed in 2.X, but I did not explicitly add a unit test for it.

Adding a unit test to make sure this doesn't regress. https://github.com/corydolphin/flask-cors/pull/117

Thank you very much for the report, and your analysis is 100% spot on!

[2015-03-24 03:57] #66 closed

[2015-03-24 03:58] corydolphin commented on #65
This is now fixed with the more permissive header-matching behavior by default.

[2015-03-24 03:58] #65 closed

[2015-03-24 04:09] corydolphin commented on #110
Publicly released now, please upgrade and things should work as you expect :-)

Let me know if you have any more feedback!

[2015-03-24 04:09] #110 closed

[2015-03-24 04:12] corydolphin commented on #114
Hello,

Thanks for reporting this issue! I just released version 2.0.0 publicly, and if you upgrade flask-cors, it should now work as expected.

Previously, the release was marked as pre-release, and upgrading was not automatic. You would have to explicitly select the version, e.g.

`pip install flask-cors==2.0.0rc1`

Please confirm that this fixes things up for you!

Cheers,
Cory

[2015-03-24 04:13] corydolphin commented on #115
PR has merged and 2.0.0 is released publicly.

[2015-03-24 04:13] #115 closed

[2015-03-25 17:12] gtaylor opened #118 "Add a changelog"
It becomes very difficult to decide whether to upgrade without a changelog of any kind. This would definitely help us with this process.

[2015-03-25 21:28] cancan101 opened #119 "My Unit Tests are Broken in v2"
My app:
[code]
tests:
[code]

in (patched v1 and in actual v2):
[code]
in v2 tests:
[code]

[2015-03-25 21:58] cancan101 commented on #119
I forgot to set `Origin` which apparently is now checked :-)

[2015-03-25 21:58] #119 closed

[2015-03-26 00:29] corydolphin commented on #118
Hey Greg,

Sorry for the trouble, you are completely right. I would prefer to manage the release log with one source of truth, and have been trying to use Github releases to provide this information, but it is not as discoverable.

Short term, you can see the list of breaking changes here: https://github.com/corydolphin/flask-cors/releases/tag/2.0.0. 2.0.0 was largely a cleanup and fixup of some s

[2015-03-26 01:07] gtaylor commented on #118
Oh, I didn't even look there.

It might be worth sticking a dummy CHANGELOG file in there with a URL to that releases link. Maybe reference it in the README, too. That'd keep most pretty happy, probably!

[2015-03-26 03:01] corydolphin commented on #118
Good call! Love the suggestion.

Out of interest, did you decide to switch to 2.0.0? If not, I'd love to
hear if the changes were incompatible with your use case.

I find it hard to know how people use the package, so I keep trying to best
balance my use cases and how I expect people will use it.

Cheers,
Cory
On Wed, Mar 25, 2015 at 9:07 PM Greg Taylor <notifications@github.com>
wrote:

[2015-03-26 23:21] corydolphin commented on #114
Quick ping, have you had a chance to check it out? I'll close this issue at the end of the week if I haven't heard.

[2015-04-05 15:08] d1manson opened #120 "Custom exception handlers"
Suppose I have:

[code]

Surely the expected output should be the error page with cors headers?  But this is not what I find: I get an empty response with the 4xx error code and nothing else (and no stacktrace on the server).

If this is intended behavior it should be made much clearer somewhere in the docs as it confused me for a *long* time (though admittedly I am completely new to flask cors an

[2015-04-06 15:37] corydolphin commented on #120
Hey Daniel,

When used as a decorator, flask-Cors should not intercept exceptions or
alter them in any way. In order to get the expected behavior of adding Cors
headers to your error messages, decorate your error handler.

I will investigate more tonight to make sure it is doing what I expect! And
see if there is anyway to make it better. In the mean time, I encourage you
to use the extension, whi

[2015-04-10 03:15] corydolphin commented on #118
Added in https://github.com/corydolphin/flask-cors/pull/121.

I think it is a great idea to keep track of it separate from Github, and will start to do so.

[2015-04-10 03:15] #118 closed

[2015-04-10 03:15] #114 closed

[2015-04-10 04:10] gtaylor commented on #118
Excellent work! Thanks for doing that. We feel better already!

[2015-04-14 01:48] corydolphin commented on #118
Glad to hear it! Please drop me a line if there are any questions, or if you have any feedback :-)

Cory

[2015-04-19 17:38] #120 closed

[2015-05-05 14:48] adomasven opened #122 "Drops multiple headers, like Set-Cookie"
Hi. I'm using this plugin and have discovered a problem. It seems that whatever it does, to modify the headers, it truncates headers with the same name.

I am using flask's [set cookie](http://flask.pocoo.org/docs/0.10/api/#flask.Response.set_cookie) function, which creates multiple entries for *Set-Cookie* header. However, if I apply the `@cross_origin` operator on a route method, it drops all bu

[2015-05-05 23:27] corydolphin commented on #122
Thanks for the report! You are totally correct, sadly I naively used a dictionary, whereas I actually need a multi dict. I will fix this asap.

[2015-05-08 12:37] #122 closed

[2015-05-08 12:54] corydolphin commented on #122
I have released 2.0.1 which fixes this issue. It is just moving through CI right now. I'll take another peek at it tonight to make sure it made it all the way to PyPi, and make sure computers aren't misbehaving.

Thanks again for the report and sorry for the trouble!

Let me know if there is anything else I can do to help!
Cory

[2015-05-22 12:56] bnmnetp opened #126 "Using flask-cors with flask-security/flask-login"
Hi,

I'm trying to get this work so that when I login I issue an ``'Access-Control-Allow-Credentials', 'true'`` header.  So that I can have authenticated cross-domain ajax calls.  I've got a simple prototype working, but now I'm trying to get this all to work in a larger flask application using the flask-security extension.

Here's what I've tried for setting up CORS.  I've also tried using ``@cro

[2015-05-22 23:18] corydolphin commented on #126
Hey Brad,

Looks like there is no origin header in the request. Are you using CURL or
a browser to make these requests?

Separately, the logging is rather confusing, and should be cleaned up. I'll
take a look at that too!

Thanks so much for taking the time to file an issue!

Cory
On Fri, May 22, 2015 at 8:56 AM Brad Miller <notifications@github.com>
wrote:

[2015-05-23 05:01] bnmnetp commented on #126
Ah, now that Origin header not set message makes more sense.  I didn't realize it was referring to the request.

I was using both curl and the browser to try to test this out.

For the ``login`` end point, I wanted to just have the user go to a regular login page.  All of the ajax requests will come from javascript and have their origin header set.  But the browser does not set an Origin when goin

[2015-05-23 09:01] bnmnetp commented on #126
Nevermind.  When you do things properly, like using a XMLHttpRequest,  then it works as advertised.  I was misled about the need for the login response to have ``Access-Control-Allow-Credentials`` set following a successful login.

In an effort to be constructive, I will say that there is a lot of difficult and conflicting documentation about CORS running around.   Even in your hello world example

[2015-05-23 19:56] corydolphin commented on #126
Brad, this is awesome feedback!

1. I will take a look at the logging to make it clearer. I think as it stands the logging might add more confusion, rather than more information.
2. 100% agreed. The Origin header is a huge gotcha. I have previously supported returning headers when it is not set, but honestly it is strange, since the CORS spec only defines what should happen when the header is ther

[2015-05-24 12:28] bnmnetp commented on #126
I wrote this up:  http://reputablejournal.com/posts/2015/05/adventures-with-flask-cors.html

We could adapt this any way you like.

[2015-05-24 12:43] bnmnetp commented on #126
Cory,

I don't know whats involved, but Flask-CORS should definitely be listed here:   http://flask.pocoo.org/extensions/

Stupid of me, but I didn't even google after I looked there and didn't see find anything about CORS.

[2015-05-28 03:11] corydolphin commented on #126
Awesome, I'll take a look at the post soon.

Thanks
Cory.
On Sun, May 24, 2015 at 8:43 AM Brad Miller <notifications@github.com>
wrote:

[2015-07-22 03:31] Bob131 opened #128 "Passing a Flask blueprint to CORS constructor fails"
Attempting to pass a blueprint object to the flask.ext.cors.CORS results in the following traceback

[code]

[2015-07-22 03:40] Bob131 commented on #128
If it helps, tacking the following properties onto the blueprint object prevents an exception being thrown on CORS init

[code]

[2015-07-25 00:35] corydolphin commented on #128
Hi Bob,

Thanks so much for taking the time  to log an issue! Sorry for the delay in getting back to you.

Can you help me understand how you would expect Flask-CORS to behave in this situation? Do other extensions work with blueprints?

It seems like it would be great to be able to register CORS support for just one blueprint, and would remove the need to pass a dictionary mapping routes to CORS

[2015-07-25 05:39] Bob131 commented on #128
The use case in question is I have a little pet project with several components, one of which being a RESTful API. Originally Flask-CORS worked quite well as the components were individual Flask apps cobbled together with Werkzeug's application dispatching, however we moved to using blueprints as this allows us to route not only on URL but also against subdomains in a configurable manner.

I'll ha

[2015-07-25 06:39] Bob131 commented on #128
Sorry, I just realised I didn't actually answer your first question.

What I was expecting is being able to init Flask-CORS by either passing the blueprint to the constructor in extension.py (or to the init_app function of a CORS object) and have it apply the CORS decorator(s) to the registered routes for that blueprint only.

The config parsing looks as though it should be easy enough to fix by j

[2015-07-28 02:00] corydolphin commented on #128
Haha, no worries Bob! Any chance you could give me a small, simple code snippet to create a blueprint so I can test as close to what you are doing as possible?

[2015-07-28 04:52] Bob131 commented on #128
Sure! As recommended by the [page in the Flask documentation](http://flask.pocoo.org/docs/0.10/blueprints/) I've stuffed my blueprints into the `__init__.py` of their own directories.

[code]

And then initializing

[code]

[2015-08-05 00:57] corydolphin commented on #126
After reading the post, I have improved logging to try and make it clearer. Hopefully this well help. Separately, I would like to improve the documentation, and will take a look at doing that sometime soon.

[2015-08-05 00:57] #126 closed

[2015-08-05 00:59] corydolphin commented on #128
Hey! I have released 2.1.0 which should support this use case! Will you give it a try and let me know what you think?

[2015-08-05 00:59] #128 closed

[2015-08-05 07:30] Bob131 commented on #128
Works a treat! Thanks very much

[2015-08-05 12:32] corydolphin commented on #128
The credit all goes to you! Thanks so much for sharing your knowledge!

A favor to ask if you have a few spare minutes and have an inclination, it
would be awesome if you could throw a few lines in the README describing
the use with blue prints a little bit that would be AMAZING.

Thanks for your help! You rock :)
On Wed, Aug 5, 2015 at 3:30 AM Bob131 <notifications@github.com> wrote:

[2015-08-05 14:45] Bob131 commented on #128
Well, thanks for your kind words :)

Check out #131 for that extra documentation

[2015-09-22 08:47] hqtc123 opened #132 "problem when use CORS(app)"
I am sorry but when I use CORS(app) I found error "Credentials flag is 'true', but the 'Access-Control-Allow-Credentials' header is ''. It must be 'true' to allow credentials.";

python version is 3.4.3 and flask 0.10.1;

Thanks for help.

[2015-09-22 14:07] corydolphin commented on #132
Hey @hqtc123 can you please elaborate and provide a sample CURL and or flask code so I can better reproduce this?

Thanks for the report, I'll do my best to take a look at this tomorrow.

[2015-09-23 02:05] hqtc123 commented on #132
import flask
from flask import Flask
from model import Company
from flask.ext.cors import CORS

app = Flask(__name__)
CORS(app)

@app.route("/companies")
def companies():
    companies_dict = Company.select().dicts()
    data_list = []
    for item in companies_dict:
        data_list.append(item)
    rs_dict = {
        "code": 0,
        "data": data_list
    }
    return flask.jsonify(rs_dict)

[2015-09-24 01:11] corydolphin commented on #132
Hey,

If you are trying to submit a cross-origin request with cookies or credentials, you need to add the `supports_credentials` configuration option.

E.G.
[code]

[2015-09-30 02:59] corydolphin commented on #132
Ping @hqtc123 any chance you can confirm that this fixes the situation for you?

[2015-10-02 00:55] corydolphin commented on #132
Closing. Please ping me if you have time to provide more information!

[2015-10-02 00:55] #132 closed

[2015-10-09 08:51] hqtc123 commented on #132
OK, Problem solved , Thanks!

[2015-10-16 14:32] guyskk opened #133 "Need 'Access-Control-Allow-Credentials' header"
Here is my case:

Client post username and password to server, after authentication,
Server send header "Authorization"  with auth token to client, then client save the token.
Client and server is not in the same domain, so I need CORS.

server code:

        from flask.ext.cors import CORS
        CORS(app)

But it cause 'Refused to get unsafe header "Authorization"'

        // xhr is response o

[2015-10-17 01:34] corydolphin commented on #133
Hey!

Thanks for writing in! There is an option just for that! Set
supports_credentials either as a kwarg, or else an app config.

It looks like the documentation build is currently messed up, and it is
difficult to find these options. I'm currently away for the weekend, and
will look into fixing his when I return.
On Fri, Oct 16, 2015 at 7:32 AM kk <notifications@github.com> wrote:

[2015-10-17 01:41] guyskk commented on #133
thank you, I read the source code and find these options.

[2015-11-02 12:08] romaincointepas opened #134 "Disable logging"
Is there a way to disable flask-cors logging? Logging is good for testing but it becomes noise when the app is up and running.

[2015-11-08 04:28] corydolphin commented on #134
I agree. I think it makes more sense to disable it by default, and provide instructions for enabling logging.

I have done so in this PR: https://github.com/corydolphin/flask-cors/pull/136

[2015-11-08 04:30] corydolphin commented on #133
Great, thanks for the report! I have recently merged improvements to the documentation to make it easier to find (hopefully).

[2015-11-08 04:30] #133 closed

[2015-11-08 09:21] guyskk opened #138 "setup.py error: requirements.txt not exists"
[code]
It seems requirements.txt not exists on dist, I try to download it from PYPI, and requirements.txt not exists

[2015-11-08 15:18] corydolphin commented on #138
Shoot! I have a fix pending.

The problem is that requirements.txt was not included in the manifest. Installing locally within the repo works, but using any bdist will fail. Fix is going through CI now.

Thanks for the report, and sorry for any trouble.

[2015-11-08 15:34] guyskk commented on #138
and may be a new release is required

[2015-11-08 15:50] corydolphin commented on #138
2.1.2 is live in Pypi and fixes the issue. Can you confirm?

`pip install -U flask-cors`

[2015-11-08 20:53] #134 closed

[2015-11-09 01:16] guyskk commented on #138
OK

[2015-11-09 01:16] #138 closed

[2015-11-12 13:24] hfar opened #142 "Support Python 3.5"
Can we use this in Python 3.5?

[2015-11-12 22:41] corydolphin commented on #142
Hey! Thanks so much for writing in!

Is there any reason to suspect it doesn't? (I.e. Is there some documentation somewhere which says this package is not compatible -- which I should update)?)

All of the unit tests pass, and I know of no breaking changes in that Python version. I have not extensively used it in production on that particular Python version, however.

Cheers, Cory

[2015-11-15 08:03] hfar commented on #142
Hi Cory,

thanks for your quick response , i just had a problem importing CORS, i was trying below import statement and it did not work for me :

[code]

While i have done the below as alternative to make it work:
[code]

please excuse me ... i am still very new on python :)

Thanks,
Hussein

[2015-11-15 08:03] #142 closed

[2015-11-15 15:13] corydolphin commented on #142
No worries at all! That is very interesting, it is possible the import
behavior changed in that version. I'll check and update docs if so!

Thanks for writing in!
On Sun, Nov 15, 2015 at 3:03 AM hfar <notifications@github.com> wrote:

[2015-11-27 18:46] ExplodingCabbage commented on #67
I'm seeing the same behaviour that the OP of this question originally was (no `Access-Control-Origin` header if my route throws an exception) on version 2.1.0 of flask-cors. Has there been a regression? Should this issue be reopened?

[2015-11-27 18:56] corydolphin commented on #67
Hi @ExplodingCabbage,

Thanks for writing in!

Is Flask.DEBUG == True? Currently, we cannot easily catch and intercept the error handler when an uncaught exception is thrown in development mode, since Flask's exception handling catches it further up-the-stack to show you an informational error page.

Cheers,
Cory.

[2015-11-30 09:56] ExplodingCabbage commented on #67
No, we're seeing this behaviour whether or not debug mode is on. I'll have a play around after work tonight and confirm if I can trivially reproduce this with a fresh flask app; if not, I'll rip apart the one I'm using at work to figure out what's special about it and see if I can construct a small reproducible example.

[2015-11-30 19:49] ExplodingCabbage commented on #67
Cause found: we were explicitly setting

[code]

which seems to stop flask-cors from working. I assume this is known and nontrivial to fix.

[2015-11-30 20:30] ExplodingCabbage commented on #67
So, if I'm understanding right after sniffing around in the code a little, the issue is that with PROPAGATE_EXCEPTIONS set to True, exceptions don't get handled by Flask at all (and no Flask response object gets returned) but instead propagate up into the Werkzeug layer which handles them by creating its own responses without touching any more Flask code?

Hmm. Perhaps we need a `werkzeug-cors` mo

[2015-12-06 19:19] corydolphin commented on #67
Yep! I believe you are correct. I have never written a werkzeug middleware, but one of the goals of the architecture of flask-ocrs is that it should be possible to simply call out toe the methods in `flask_cors.core` and pass the request method, headers and CORS options. If you have a chance to look at this, I would be honored to hear back about it.

E.G you would be able to pass the arguments to

[2015-12-27 01:55] Taiiwo opened #143 "Setting comma separated `Access-Control-Allow-Origin` values is not supported by FireFox."
Using version 2.1.2, initialising using:
[code]

When making an AJAX request from a local machine on a non-standard port to an external server serving the above code running Flask 0.10.1 on Apache with mod_wsgi, the server responds with `Access-Control-Allow-Origin: "http://localhost:8080, *"`. Such comma separated lists are not supported by FireFox, and gives the following error in the JavaScript

[2016-01-10 21:45] corydolphin commented on #143
Hey @Taiiwo, sorry for the delay here. Thanks so much for adding an issue, I really appreciate the time it takes.

Can you please share the settings you passed to Flask-Cors? I cannot replicate the behavior you are seeing. If you pass `*` as one of the allowed origins, I would expect that the request's `Origin` header will be returned as the `Access-Control-Allow-Origin` header.

[2016-01-11 15:38] Taiiwo commented on #143
I'm not sure what else I can send you. Here's a picture of the failed ajax request:
![failed ajax request](http://i.imgur.com/c6yYiAn.png)
Here's the FireFox error message:

Here's the contents of the application at `phantas.ml/recruitment/cms`:
[code]

I didn't do anything else other than install flask and flask-cors from pip. I've played around with a few things, but nothing seems to work. I'm u

[2016-01-19 09:25] mmautner opened #144 "How to allow credentialed requests"
The docs mention in the first paragraph:

However this is never explained

[2016-01-19 09:28] mmautner commented on #144
Dupe of https://github.com/corydolphin/flask-cors/issues/133

[2016-01-19 09:28] #144 closed

[2016-01-19 17:59] corydolphin commented on #144
Thanks for the report, I will take a look at how to make this clearer

[2016-01-20 05:37] corydolphin commented on #143
Hey @Taiiwo,

So, I think there may be a few things going on here.

1. Can you confirm the version of flask-cors you are using? There should be no case in which comma-separated values are returned as of 2.X.
2. From a comparison of the Origin and Host headers, it seems that you are making a request from `http://localhost:8080` to `http://phantas.ml`. Is that what you expect?

[2016-01-22 20:19] Taiiwo commented on #143
The server is running `flask-cors` version 2.1.2. Here's some other info:
[code]

Yep. To explain my setup: I have a local PC hosting some HTML files using apache2 for windows (I've also tried using `python -m SimpleHTTPServer` in Cygwin, same error). The local HTML files are making an AJAX request to the remote server "phantas.ml" running apache2 with mod_wsgi installed and pointing to the python

[2016-01-25 16:18] Taiiwo commented on #143
UPDATE: I only get the error when using mod_wsgi. It works fine if I run `python FlaskScript.py`. Could it be my apache/mod_wsgi implementation?

[2016-01-26 15:40] corydolphin commented on #143
Hmm. It sounds like something else is at play here. My hypothesis is that
your Apache config is injecting the Access-Control-Allow-Origin: "*"
header, which is corrupting things.

Can you confirm the headers your receive when not using Flask-Cors?

On Mon, Jan 25, 2016 at 8:18 AM Taiiwo <notifications@github.com> wrote:

[2016-02-18 20:56] #143 closed

[2016-03-01 14:44] kthnxbye opened #145 "Access-Control-Allow-Headers not working"
Hello there,

Im glad i found this lib but im facing an issue, it seems like Access-Control-Allow-Headers are not being set or something.

this is my setup:

`CORS(app, resources=r'/*', allow_headers='Origin, Content-Type, Accept, Authorization, X-Request-With', supports_credentials=True)`

But chrome's console keeps telling me

Am i missing something?

Im using the 2.1.2 version btw.

[2016-03-02 02:27] corydolphin commented on #145
Thanks for taking the time to write in!

allow_headers takes a list of headers, or a string regex. If you pass a list it should work as expected.

If this fixes the issue, can you please help me improve the documentation so this is clearer in the future?

Cheers,
Cory

[2016-03-08 22:43] corydolphin commented on #145
Please let me know if there is anything else I can do to help. I'll close the issue for now :-)

[2016-03-08 22:43] #145 closed

[2016-03-16 20:48] crookedstorm opened #146 "headers not being set or set to nonsense"
I am working with blueprints and importing my views after settings CORS(blueprint).
I have tried using just defaults and settings options.  Both are just like this, though, I often don't even get the Access-Control-Allow-Origin header if I set any options at all.
No matter how I slice it, I seem to get a response of either this from httpie:
HTTP/1.0 200 OK
Allow: POST, HEAD, OPTIONS, GET
Content-L

[2016-03-16 21:42] crookedstorm commented on #146
Note: I am using version 2.1.2.  I've been reading other bug reports and don't see anything quite like this, so I'm baffled as to what is happening.  Especially that weird 'file://' value.

[2016-03-16 22:31] crookedstorm commented on #146
Further information:  I'm importing like this.
[code]

[2016-03-18 02:33] hzhenia commented on #128
I have the same problems as Bob131.
`from customers import mod as customer_module
from flask.ext.cors import CORS
CORS(customer_module)

#then create app as:
def create_app()
    app = Flask(__name__)
    app.register_blueprint(customer_module)
`
Cors version is 2.1.2

But it's always error "XMLHttpRequest cannot load http://127.0.0.1:5001/api/v1/customers. Response for preflight is invalid (redir

[2016-03-18 16:59] corydolphin commented on #128
Hey there.

I expect what is happening is that Flask is silently redirection from 'foo' to 'foo/'. Flask does this automatically.

Quick fix is to update your request to hit the trailing slash. Longer term it would be better if we correctly injected headers into those redirects, however with the current decorator system it is difficult, since your function isn't actually run during this redirect.

[2016-03-18 17:03] corydolphin commented on #146
Thanks so much for the detailed report. I really appreciate it!

Can you show me an example CURL request and response? Please ensure the Origin header is set.

Also, if you are able to increase logging verbosity to show debug messages that would be very helpful in debugging what Flask-CORS is doing in this case.  There is an example of how to do this here: https://github.com/corydolphin/flask-cors

[2016-03-25 18:50] crookedstorm commented on #146
Sorry for not getting back.  I'll try that, ensuring the Origin is set soon.

[2016-03-29 20:51] corydolphin commented on #146
Thanks for posting back and working with me Brooke! Really appreciate it.

Can you post the curl you made along with as much logging context around
that message as possible?

On Tue, Mar 29, 2016 at 1:08 PM Brooke Storm <notifications@github.com>
wrote:

[2016-04-04 08:03] serkandaglioglu opened #147 "Long time responding"
On ajax cross domain request flask respond after a long time . For example 10 seconds.
If I call url from browser it respond fastly, but with cors and on ajax request flask wait a long time.
I'm working on localhost.

[2016-04-04 18:26] corydolphin commented on #147
Hmm, that seems strange.

Will you please enable debug logging to help me understand what is going on? Flask-CORS doesn't do much work, so I would be surprised if it was slowing down requests substantially.

Are they eventually being returned successfully? If not, it is possible the browser is rejecting them, and there are information error messages in the console.

[2016-04-04 18:58] serkandaglioglu commented on #147
I followed console it printed these :
[code]

Actually I dont know what is  the reason of this problem. For example, the request shows pending the request after ajax start. It is pending until I call the ajax url from another chrome tab. After I call the ajax url from another chrome tab the ajax respond successfully.
It is very strange. I put above the log.

[2016-04-04 21:22] corydolphin commented on #147
Looks like CORS finished. What is in the browser's console? Or the HTTP request log?

It appears that the request being made is not actually a cross origin request, otherwise the browser would automatically send an Origin header.

If you open the network request tab in chrome, you can inspect requests.

[2016-04-12 13:24] ctolsen opened #148 "Using regex still requires two origins for Vary"
When using a configuration like `[r'https://.*\.domain']`, the `Vary: Origin` header will never be emitted.

I think it makes sense for a regex to be treated as a list – or, indeed, just emit the header when using a list even if it's just one item long.

(also, because of certain browser bugs I'd love to have an option to always use the header for any request at any time, but that's separate.)

[2016-04-12 20:22] corydolphin commented on #148
Good call, that is a great point.

The current implementation makes it a little bit tricky to differentiate between a regex and a string, but we should be able to come up with something to achieve this.

As for the 'always_send' option, I initially had this option, but removed it due to the complexity of determining what to do if a regex is passed as the origin. It is probably better to just add s

[2016-04-12 20:23] corydolphin commented on #147
Closing this issue for now, let me know if you have more information to help me understand what is going on here.

[2016-04-12 20:24] corydolphin commented on #146
Hey @crookedstorm I'm going to close this issue for now, let me know if you have more information to help me debug this.

[2016-04-12 20:24] #146 closed

[2016-04-12 20:41] ctolsen commented on #148
I appreciate the need for contributions but unfortunately I'll be bogged down for a while :( If you don't get to it very quickly I could be able to get to it some time next week or so, in which case we should have a chat about what the preferred way of doing so is.

When it comes to always sending the `Vary` header, I've run across some bugs – especially with Chrome – such as [this one](https://bu

[2016-04-12 23:58] corydolphin commented on #148
Understandable :-) I figured I'd make the pitch regardless.

That bug is similar to one I have struggled with in the past. Definitely a
good motivation for an 'always_send' option.

I'll take a look and see if I can get something together :-).

On Tue, Apr 12, 2016 at 1:41 PM Christoffer Torris Olsen <
notifications@github.com> wrote:

[2016-04-15 23:33] corydolphin commented on #148
This also impacted the default configuration to allow '*'. That means the default behavior was pretty broken for caching.

Great find, thanks for the report!

[2016-04-19 09:36] lambdaq commented on #120
@corydolphin any plans to add CORS to exceptions?

I am debugging a tricky exception on Chrome, without CORS, I can not see the tracebacks.

[2016-05-04 12:01] dhirajforyou opened #153 "How can we give the allowed methods name, max age etc ?"
CORS(app, resources={r"/*": {"origins": "*"}}, allow_headers='Content-Type', send_wildcard=True, max_age=86400, methods=['GET', 'HEAD', 'POST', 'OPTIONS', 'PUT', 'PATCH', 'DELETE'])

But at the browser, I am able to see only below fields -
Access-Control-Allow-Origin:*
Connection:keep-alive
Content-Length:15
Content-Type:application/json
Date:Wed, 04 May 2016 11:57:27 GMT

I am expecting  as below

[2016-05-04 12:41] dhirajforyou commented on #153
I missed it totally. Here is what I could have tried earlier.

`from flask import Response`
then,
        `resp = Response(output)`
        `resp.headers['Access-Control-Allow-Origin'] = '*'`
        `resp.headers['Access-Control-Allow-Methods'] = 'GET,POST,OPTIONS'`
        `resp.headers['Access-Control-Allow-Headers'] = 'Content-Type'`
        `resp.headers['Access-Control-Max-Age'] = 86400 '`

[2016-05-04 12:42] #153 closed

[2016-05-04 17:17] corydolphin commented on #153
@dhirajforyou please confirm that the request actually has the Origin header set. Unless that is set (i.e this is a CORS request), Flask-CORS does not set headers.

[2016-05-18 02:12] andrewheekin opened #154 "“No 'Access-Control-Allow-Origin' header” error in POST with OPTIONS Pre-flight"
I'm getting a “No 'Access-Control-Allow-Origin' header” error on my POST request following a 200 ok OPTIONS request. I have the line `cors = CORS(app)` in my flask (0.10.1) app.

OPTIONS response headers
[code]

OPTIONS request headers
[code]

POST response headers
[code]

POST request headers
[code]

[2016-05-18 02:30] andrewheekin commented on #154
Also, here's the flask app i'm using:

[code]

[2016-05-18 10:18] marians opened #155 "Docs: Explain where `cross_origin` should be coming from"
In the code examples in README (and perhaps in docs) the decodator `@cross_origin()` is used, but not imported. This leads to the error

    NameError: name 'cross_origin' is not defined

[2016-05-18 12:36] andrewheekin commented on #155
try adding to the import statement

`from flask.ext.cors import CORS, cross_origin`

[2016-05-19 19:59] andrewheekin commented on #154
The error was in my return type of the testPost() method. The method needs to return a json response.
[code]

[2016-05-19 19:59] #154 closed

[2016-05-20 01:49] corydolphin commented on #154
Sorry for the delay!

Out of curiosity did the flask logging show you your stack trace? Sadly I've found it difficult to build an extension which runs after a request, even in the case of an exception. My workarounds so far are lame. I fear I may have to wrap a wsgi middleware

[2016-06-07 19:00] drcoll opened #159 "Version 3.0.0 Release?"
Just wanted to check in and see if there was a time frame for when version `3.0.0` will be released?

I noticed some changes to the code within the past month, specifically `send_always`, that appears to resolve an issue I am experiencing.

Thanks!

[2016-06-08 17:57] corydolphin commented on #159
Hi Dustin,

Thanks for writing in. The one other change I want to squeeze in for 3.0.0 is to better support exception handling by dropping down to a WSGI middleware.

It will probably be about a week until I get to it, honestly.

If you are willing, you can reference this commit explicitly in your requirements.txt to install the current master.

I.E.
`pip install git+git://github.com/corydolphin/f

[2016-06-08 17:58] corydolphin commented on #148
This should be fixed in 2.1.3 https://github.com/corydolphin/flask-cors/releases/tag/2.1.3.

Please let me know if this is still biting you.

Thanks so much for the detailed report!
Cory

[2016-06-08 17:58] #148 closed

[2016-06-17 03:48] #155 closed

[2016-06-17 03:49] corydolphin commented on #155
Thanks @marians and @andrewheekin I've added it to the README in #161

[2016-07-24 00:22] te-je opened #168 "Can't intercept Flask error handlers"
This doesn't currently add headers to responses created from a Flask error handler, making the error response body unreadable in some browsers.

An example of such an error handler:

[code]

The resources will still send CORS headers if an error response is returned directly from the route, but not raised and handled through an error handler as shown above.

[2016-07-24 00:53] te-je commented on #168
For those interested, switching to using the CORS extension rather than cross_domain decorator resolves this.

[2016-07-24 00:53] #168 closed

[2016-07-26 10:16] georgexsh opened #169 "CORS with blueprint"
with code:
[code]
will yield:
[code]

my usage is wrong or a bug?

[2016-07-26 12:59] georgexsh opened #170 "preflighted OPTIONS request return non-200"
If my app has a `before_request` hook returns `401` to client:
[code]
than the preflighted `OPTIONS` request always yield `401` too, as extra auth headers rely on the response of preflighted request ...
Shouldn't it alway return `200`?

using flask-cors==2.1.2

[2016-08-16 17:51] BillBrower opened #171 "Issue setting CORS headers"
Hey y'all, I've setup version 2.1.2 of the Flask-Cors extension, with version 0.11.1 of Flask and version of 0.9.2 of Flask-OAuthlib, like so:

[code]

And it supports pre-flight OPTIONS requests just fine, but for some reason, it is hitting some hangups when it attempts to setup CORS headers on actual requests:

[code]

Here is the actual resp.headers object referenced in the last line of the sta

[2016-08-16 17:56] corydolphin commented on #169
Hey @georgexsh so sorry for the delay here.

The issue here is partially our bug (in that the docs are unclear, and perhaps the API).

To fix, simply do not assign the result of calling flask_cors.

E.G

[code]

[2016-08-16 17:57] corydolphin commented on #169
I think it is understandable to assume that the extension could be applied in that way, I'll add a note to update it.

[2016-08-16 17:57] #169 closed

[2016-08-16 17:59] corydolphin commented on #170
Hey George, can you add some more detail?

I haven't checked this particular usage, but my guess is that it is a limitation in Flask's middleware system. I wonder if @app.after_request handlers are actually called if you abort in the before_request.

Were you able to work around this?

[2016-08-16 18:06] corydolphin commented on #171
@BillBrower thanks for the detailed report!

I'm not sure what is going on here, but it definitely looks to be our fault, from the stack trace.

Any chance you can give a full sample project which will hit this so I can debug more?

My hypothesis is that flask_oauthlib (or perhaps your code?) may be setting response.headers to be a standard Python dictionary instead of a werkzeug multidict. The re

[2016-08-16 18:23] BillBrower commented on #171
You're right, it turns out Flask-OAuthlib uses it's own `CaseInsensitiveDict` object for headers instead of a werkzeug multidict.

[code]

If I submitted a pull request that made the `set_cors_headers` method more defensive by using standard `dict` methods for headers objects that aren't werkzeug multidicts, would you accept it?

[2016-08-16 18:32] corydolphin commented on #171
Definitely!

That header setting code is a bit messy, but I believe this should be unit testable.

[2016-08-16 18:38] corydolphin commented on #171
One note, implementation wise, I think the simplest thing to do may be to set response.headers to a new MultiDict, copying the underlying dict.

I'm entirely open to suggestions, however!

In version 3.0.0 (which I have yet to actually release, grr. Reminder, self do it.), we depend on werkzeug's multidict handling to simplify our logic of handling multiple headers, rather than manually serializin

[2016-08-16 18:45] BillBrower commented on #171
I appreciate the advice. I'll do it that way, get the tests passing, and submit a pull request later today!

[2016-08-16 18:45] #171 closed

[2016-08-16 18:51] corydolphin commented on #171
Thank you very much for your help. The contribution is very much appreciated :). 

On Tue, Aug 16, 2016 at 11:45 AM Bill Brower

<
mailto:Bill Brower <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

I appreciate the advice. I'll do it that way, get the tests passing, and submit a pull request later today!

—

You are receiving this because you commented

[2016-08-16 19:29] BillBrower commented on #171
I'm getting a permission denied when I try to push my branch up to make a pull request. Could you add me as a member of the repo?

[2016-08-16 19:30] corydolphin commented on #171
Hey Bill,

Can you please fork the repo, push your branch on your own fork and then
make a pull request?

Cory
On Tue, Aug 16, 2016 at 12:29 PM Bill Brower <notifications@github.com>
wrote:

[2016-08-16 19:31] BillBrower commented on #171
Absolutely!

[2016-08-17 20:16] joshfriend opened #173 "2.1.3 is not on PyPI"
A `2.1.3` tag exists: https://github.com/corydolphin/flask-cors/tree/2.1.3

but there is not corresponding release on PyPI

[2016-08-17 21:27] corydolphin commented on #173
Womp womp. Apologies, it looks like my automation is broken somehow.

I'll do this tonight hopefully. And also release 3.0.0. With some pretty cool improvements.

[2016-08-17 22:25] joshfriend commented on #173
3.0??? 🎉

I also noticed that there are no changelog entries for 2.1.3 currently

[2016-08-18 14:37] corydolphin commented on #173
Good call! Fixed both issues. Hot off the presses: https://pypi.python.org/pypi/Flask-Cors/2.1.3

As for why the release automation didn't work... I'll have to check that :-(

[2016-08-18 14:37] #173 closed

[2016-08-18 15:51] joshfriend commented on #159
@corydolphin since you're asking about the `send_always` option, I'll leave my 2cents here.

Not sending CORS headers unless the `Origin` header is sent with the request has caused some confusion in my team about whether CORS was enabled or configured properly. Enabling this option by default is a good choice in my opinion (unless the specifications for CORS require this, but I was not able to det

[2016-08-18 15:56] joshfriend commented on #170
@georgexsh the [W3 specifications for CORS require user credentials to be excluded from preflight requests](https://www.w3.org/TR/cors/#preflight-request). You should add some logic to your `before_request` handler to check that `request.method != 'OPTIONS` before aborting with an `401 UNAUTHORIZED` resposnse

[2016-08-18 15:59] joshfriend opened #176 "`always_send` should default to `False`"
The [W3 spec](https://www.w3.org/TR/cors/#resource-preflight-requests) says:

So the `always_send` option should probably be `False`, at least if `app.debug` is `False`.

[2016-08-18 16:00] joshfriend commented on #159
I spoke too soon: #176

[2016-08-19 00:01] corydolphin commented on #176
There is a bit of history on this one...

In version 1.X, I always sent the headers, but when adding regex support (which I needed for subdomains in a project), I realized that it doesn't really make sense.

So in version 2, I removed the send_always option and more strictly followed the W3 spec (https://github.com/corydolphin/flask-cors/blob/2.1.3/flask_cors/core.py#L115).

I now am of the opinio

[2016-08-19 00:02] corydolphin commented on #159
@joshfriend I echo that confusion, I followed up on that issue directly.

[2016-08-19 03:25] georgexsh commented on #169
Thanks very much!

[2016-08-19 03:28] georgexsh commented on #170
@joshfriend that's exactly what I do for now, thanks.

[2016-08-19 03:28] #170 closed

[2016-08-20 18:01] corydolphin commented on #159
Released!

[2016-08-20 18:01] #159 closed

[2016-08-31 16:00] di opened #183 "Origins as raw strings regression"
Hi, I am seeing a regression in `3.0.0` that I don't see mentioned in the changelog or documentation.

Using the following test:
[code]

Using `2.1.2`:
[code]

Upgrading to `3.0.0`:
[code]

However, if I change the `origins` parameter to include both HTTP and HTTPS origins as regular strings:
[code]

The tests pass:
[code]

[2016-08-31 21:07] #183 closed

[2016-09-06 13:43] satterly opened #187 "Why is "allow_headers" now a case-sensitive match?"
With version 3.x the list of headers returned by `Access-Control-Allow-Headers` is now a case-sensitive match against the list of headers defined in the `CORS_ALLOW_HEADERS` setting.

For example, with version 2.1.3 if the setting for "allow_headers" was ...
[code]
... then the following works ...

[code]

However, with version 3.x it does not return the `Access-Control-Allow-Headers` header becau

[2016-09-07 22:27] corydolphin commented on #187
Headers should be case insensitive, this is a bad bug. Good catch. I will fix this tonight.

[2016-09-08 05:37] #187 closed

[2016-09-08 09:18] satterly commented on #187
Thanks for the quick fix. I can confirm this works for me.

[2016-09-08 18:17] corydolphin commented on #187
@satterly glad to hear it!

Thanks a lot for taking the time to make such a detailed report, it made it much easier to fix :-)

Let me know if you have any other feedback around this package :-)

[2016-09-09 09:06] satterly commented on #187
You're welcome. I know what it's like trying to bugfix based on other people's Github issues.

As for feedback, some more debug logging would have helped me with this. But now that it's fixed I'm not sure it's worth spending much more time on.

[2016-10-10 17:17] corydolphin commented on #176
Closing this issue, though I am open to hearing more opinions!

[2016-10-10 17:17] #176 closed

[2016-10-10 23:03] joshfriend commented on #176
:+1: I've not had any negative side effects with 3.0

[2016-12-12 18:33] stevenmwade opened #191 "Does not work with Flask-Security login"
As the title says, this is not working to allow the Flask-Security login POST to work.

[2016-12-12 18:48] stevenmwade commented on #191
[code]

I am sending a post to "x.x.x.x:3333/login" (which is flask-security's built in login that sets current user and allows decorators, etc.), and I get a Cross Origin error.

[2016-12-13 00:08] corydolphin commented on #191
Thanks for the details!

Since you are submitting cookies cross origin, you need to ensure that supports_credentials=True. Please see this short snippet from the docs:  http://flask-cors.corydolphin.com/en/latest/api.html#using-cors-with-cookies

Will you let me know if that fixes things for you, and if you have any suggestions for how that could be made clearer? If there is somewhere in the READM

[2016-12-15 04:44] stevenmwade commented on #191
So the adding `supports_credentials=True` only allows it to work if you set `SESSION_COOKIE_HTTPONLY=False` which I'm not sure I understand. If I leave it to `True` then the login then return a `GET 302` that doesn't actually hit the server, then gets a `POST 302`. I even put it back to the code where it worked and it doesn't change.

I also am having a problem where I'm changing `origins="*"` and

[2017-01-17 05:04] dland512 commented on #147
I'm seeing a similar issue with a python REST API that I'm writing. Often times requests hang for 20 seconds or more before returning. Here is the python code to set up the API:

    flask_app = Flask(__name__)
    flask_app.config.from_object('config')
    CORS(flask_app)
    api = BaseApi(flask_app)
    db_conn.db = SQLAlchemy()
    db_conn.db.init_app(flask_app)

    api.add_resource(Unfinished

[2017-01-17 05:07] dland512 commented on #147
Just a little more info. Refreshing the page and using the back buttons seems to create the issue more consistently.

[2017-01-30 05:31] corydolphin commented on #191
Hey Steven,

Sorry for the delay here. Make sure you are correctly setting the XHR params.

Here's an example static page making an XHR and a a flask-login server.

[Archive.zip](https://github.com/corydolphin/flask-cors/files/738201/Archive.zip)

[2017-01-30 05:32] #191 closed

[2017-02-07 02:58] dland512 commented on #147
FYI, it appears as though it is related to a [thread setting in Flask](https://github.com/pallets/flask/issues/2169).

[2017-02-07 03:05] corydolphin commented on #147
Wow, that is very very interesting. I'll take a closer look to try to understand what is going on here.

[2017-02-10 17:50] LucaPaterlini commented on #147
https://github.com/LucaPaterlini/ajax_flask
In this example, anyone can realize where the problem is.
Running the test in a local environment the example.html page takes more than 25 sec to show the alert message running the flask web service into a terminal and opening the HTML page into chrome's browser.

[2017-02-10 17:53] corydolphin commented on #147
Luca, do you understand the cause of the issue? If so, please elaborate or make a pull request. I haven't yet dug into this, my plan was to first enable logging and add more verbose logging to see where things seem to stall.

Thanks for the example!
Cory

[2017-02-10 19:22] LucaPaterlini commented on #147
127.0.0.1 - - [10/Feb/2017 20:19:27] "GET /user HTTP/1.1" 200 -
----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 37550)
Traceback (most recent call last):
  File "/usr/lib/python2.7/SocketServer.py", line 290, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python2.7/SocketServer.py", line 318,

[2017-02-13 06:58] corydolphin commented on #147
@LucaPaterlini Can you provide more information in terms of OS and python version? I can't seem to replicate this behavior.

As for your code, opening the same file from multiple threads, as your code does, looks suspect and may be an issue.

[2017-02-13 21:47] stevenmwade opened #192 "Certain error codes not having all header information"
The error responses that are being received on the front end are missing `Access-Control-Allow-Credentials` header on 400, 401, and 403.

 The status codes also come back as `0` in the XHR response.

[2017-02-13 21:49] corydolphin commented on #192
Hey Steven, where are the errors being generated by in the case of 400?

If you are using the app-extension (v.s. the decorator), it should automatically wrap exceptions, unless you are in development mode (due to a flask peculiarity)

[2017-02-13 22:13] stevenmwade commented on #192
This is how it's setup:

[code]

This is how we are generating them:

`raise RequestException("Message", status_code=4xx)`

[code]

[2017-02-14 11:25] LucaPaterlini commented on #147
Python 2.7.12
 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Lubuntu 16.04LTS

The issue appears in the demo I've shown before.
I've added this line as you have suggested to me to turn around the problem by now.

 app.run(debug=False,threaded=True)

[2017-02-14 22:47] corydolphin commented on #192
Hmm. In your snippet, is the "@app.errorhandler" call referencing the Flask App instance, or the api blueprint instance? Flask-CORS is only attached to the blueprint you referenced, so it will not know about the app instance.

[2017-02-15 14:34] stevenmwade commented on #192
We also have the entire app wrapped: `CORS(app)`.

[2017-02-16 00:41] TheJimFactor opened #193 "Can't specify allowed origin of a given port"
Thanks for making this module.

I'm having trouble with the following `origins` setting:
[code]

To allow:
[code]

If I simply do a broad CORS it works, so I can use that for now, but would like to narrow it down, thanks!

[code]

[2017-02-16 00:41] #193 closed

[2017-02-16 00:42] TheJimFactor commented on #193
Typo

[2017-02-18 16:07] GijsGoudzwaard opened #194 "ImportError: No module named 'flask_cors'"
I have installed flask_cors like so:
`pip3 install -U flask-cors` also tried `pip install -U flask-cors`

This is my code:
[code]

[2017-02-19 22:08] GijsGoudzwaard commented on #194
Fixed it by doing this: `pip install flask-cors --upgrade`

[2017-02-19 22:08] #194 closed

[2017-03-02 01:31] estein-de opened #195 "Allow at-runtime origin validation - or some tips on usage?"
In the documentation at http://flask-cors.corydolphin.com/en/latest/api.html#decorator there is no way to make it so that the allowed origins are determined other than at the time the decorator function is applied (which would be, in most situations, the moment when the module is imported).

I want to set my allowed origins in my flask config, but flask config is only accessible once current_app i

[2017-03-02 01:33] corydolphin commented on #195
The alternate approach is to use the http://flask-cors.corydolphin.com/en/latest/api.html#extension approach, storing the origins in the app's flask config.

Does that make sense?

[2017-03-02 02:24] estein-de commented on #195
I see what you mean, but I don't actually store the exact origins in my config, I have code that uses my config to generate the origins. Sorry, that wasn't clear.

[2017-03-02 02:27] estein-de commented on #195
It would be even better to be able to just provide a callable that would validate Origins, but from what I saw on other issues on this repo I wouldn't be surprised if that's not a simple ask.

[2017-03-02 18:43] corydolphin commented on #195
Ahh, I understand. Can you describe the use case a little more? I'm totally open to adding it, and it should actually be relatively simple.

I think those other issues are red herrings 🍻

[2017-03-02 18:44] corydolphin commented on #147
@LucaPaterlini what version of chrome was this in btw?

[2017-03-02 22:53] LucaPaterlini commented on #147
I don't think chrome is involved in a python program that runs a terminal, above all
that's is the version Version 56.0.2924.87 (64-bit)

[2017-03-02 23:03] corydolphin commented on #147
@LucaPaterlini the reason I think Chrome may be involved is that the other reporter specifically mentioned that it only happened in chrome, and did not happen in Firefox.

Luca, can you replicate this via CURL? A working demo repository that I could see the failed request in would be VERY helpful.

Cheers,
Cory

[2017-03-02 23:24] LucaPaterlini commented on #147
I've tested as well and I confirm that I've found the only browser that
presents those issue.
Now I'm going to recognize how lucky I am in getting into specific bugs.

p.s. should I could be included into the contributor list due to my lucky?

2017-03-03 0:04 GMT+01:00 Cory Dolphin <notifications@github.com>:

[2017-03-05 20:04] corydolphin commented on #147
Haha :-) Lucky or unlucky, it is hard to tell!

[2017-03-05 20:05] corydolphin commented on #147
I'm going to close this issue until there is a reproducible case. If anyone has more information, I'd love to hear more!

[2017-03-05 20:05] #147 closed

[2017-03-10 05:14] gasxia opened #196 "Why flask_cors didn't return response directly (before Decorator @before_request) when get a OPTIONS request?"
[code]
Error In before_request
`api/auth.py`
[code]
When I send a auth fetch. I'm getting the error.
[code]
Why flask_cors didn't return response directly (before Decorator `@before_request`) when get a `OPTIONS` request?

[2017-03-10 05:32] gasxia commented on #196
I use the below code can make this request run correct.
But I still not clear why flask_cors can't do it automatic for me.
[code]

[2017-03-10 20:31] frnsys opened #197 "`support_credentials=True` doesn't set `Access-Control-Allow-Credentials` header"
I'm initializing my app like this:

    CORS(app, support_credentials=True)

but the  `Access-Control-Allow-Credentials` header is never set.

Setting it manually works:

[code]

[2017-03-10 20:39] corydolphin commented on #197
Are you sure the request has CORS headers? If you are testing via cur, ensure you are setting the Origin header

[2017-03-10 20:42] frnsys commented on #197
the Origin header is set:

   Origin: http://localhost:8002

[2017-03-16 18:02] cenkalti opened #198 "CORS headers are not sent with decorator when there is an exception in view function"
In other words, `intercept_exceptions` option is not implemented in the decorator.

[2017-03-16 18:02] cenkalti commented on #198
I can submit a PR with the implementation if you want to accept @corydolphin

[2017-03-22 10:17] mr2uang opened #199 "Request header field Content-Type is not allowed by Access-Control-Allow-Headers in preflight response. in Google-Chrome"
Hi,
I'm using lastest version of ```flask-CORS```:
This is my example code:
[code]
Of cource I already read your lastest docs and knew `allow_headers` default is `'*'`. But when I send a request `OPTIONS` like this:

[code]

I don't have `Access-Control-Allow-Headers` in response. and Google-Chrome return a error `Request header field Content-Type is not allowed by Access-Control-Allow-Headers in

[2017-03-22 15:31] Gnouc commented on #199
Remove `methods='*'` and it will works. You must read the document more carefully
[code]

[2017-03-22 17:24] corydolphin commented on #199
Thanks @Gnouc!

Hmm, this seems like something we should make Flask-CORS catch. It would be great to validate the list of methods passed, and verify that they are valid.

[2017-03-22 17:24] #199 closed

[2017-03-22 17:27] corydolphin commented on #198
@cenkalti that is correct. It is not listed in the docs, but it is admittedly not very clear.

I would be very open to such a contribution. I would want to make sure it didn't interrupt standard handling of exceptions in any way in flask, or muddy the stack traces for application developers.

Is your idea to wrap the call in a try/except and re-raise?

[2017-03-22 17:32] corydolphin commented on #196
Hmm, sorry for the trouble here @gasxia I think this may be related to the intercept_exceptions option misbehaving.

Can you try to disable 'intercept_exceptions' by setting `intercept_exceptions=false` and let me know if that fixes things?

[2017-03-23 19:36] cenkalti commented on #198
I was thinking to use the deferred callback pattern described here: http://flask.pocoo.org/docs/0.12/patterns/deferredcallbacks/ but then, I have realized that neither the decorator or the view function does not have access to Flask application instance. I have an ugly solution in my mind that I will try to implement and send PR for it. Feel free to reject if you don't like it.

However, without h

[2017-03-23 20:39] cenkalti commented on #198
After some investigation, I think it is not enough to use only the decorator for proper CORS support because for the application to send CORS headers with 404 responses, a custom error handler needs to be registered. So, using both the extension and the decorator is the correct approach in my opinion. Should we make this clear in docs?

[2017-03-27 18:20] cbenz commented on #147
I all, thanks for investigating like me :)

For your information, I experienced the problem in "Chromium Version 56.0.2924.76 built on Debian 9.0, running on Debian 9.0 (64-bit)" or in Chrome 56 under macOS.

Running my application with `flask run --with-threads` solved the problem.

I think this is equivalent to `app.run(threaded=True)`.

I do not have a reproductible case with Curl.

I could not

[2017-04-02 19:38] Syntaf opened #200 "Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Credentials' header in the response is '' which must be 'true' when the request's credentials mode is 'include'"
Not sure why I'm getting this error when trying to allow CORS on my flask app. Here's my server:

[code]

Now on my frontend, when I attempt to make a POST request to `/img`, I get the error in the title. The full error is:

[2017-04-02 19:54] Syntaf commented on #200
Update: Adding the following code works, is there a way to do this with flask-cors so I don't need to ways of allowing cross-origin?

@app.after_request
def after_request(response):
  response.headers.add('Access-Control-Allow-Origin', 'http://localhost:8080')
  response.headers.add('Access-Control-Allow-Headers', 'Content-Type,Authorization')
  response.headers.add('Access-Control-Allow-Methods',

[2017-04-10 20:47] gwvt opened #201 "Using flask-cors with flask-restful and @before_request decorator for jwt auth"
I'm trying to use flask-cors for the development configuration for a flask-restful api, simplified below:

[code]

But whatever I try I always get the error 'Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.'

Without the JWT auth piece, everything else works fine. (And the JWT auth works fine without flas

[2017-04-14 04:47] gasxia commented on #196
Hi @corydolphin:
Thanks for your help and reply.
I add the setting in CORS(app).
[code]

Then it can pass `OPTIONS` method, but it lead to another problem.
[code]

[2017-04-17 19:00] gwvt commented on #201
Any help with this would be much appreciated. Thanks!

[2017-04-17 21:00] corydolphin commented on #201
Hey @gwvt can you post the (non secret) details of the config file? If I have a fully working example, I will look at this tonight.

Sorry for the delay!

[2017-04-17 21:33] gwvt commented on #201
Great, thanks so much!
Here's the simplified config file:
[code]
Let me know if you need any other info.

[2017-04-18 01:23] gwvt commented on #201
Or here's a complete self-contained application:
[code]
Same thing, getting 'Response to preflight request doesn't pass access control check' error message when the api is called from localhost:8080.

[2017-04-22 20:50] corydolphin commented on #201
Sorry for the delay, I finally got a chance to look at this properly.

It looks like the issue is with your origin header. What is the 'Origin' you are sending the CORS request from? Your configuration will only allow browsers to issue a CORS request from "http://127.0.0.1:8080" to your flask-cors app (running by default on localhost:5000).

Example:
If a browser were currently looking at an html

[2017-04-22 20:50] #201 closed

[2017-04-24 15:16] gwvt commented on #201
Thank you very much for your reply. That's my mistake in the code specifying host of origin, but that actually isn't the issue. With curl sending a normal GET request, everything works, but the issue is with the preflight request sent by the browser via the OPTIONS method with headers. I tried both with Flask-Restful as well as a standard Flask application, with the same results (see below for cod

[2017-04-24 18:13] corydolphin commented on #201
This looks to be an application issue, `auth_header` is None, so:
`            if "Bearer" in auth_header:` is failing.

[2017-04-25 00:22] gwvt commented on #201
Right. The test_headers() function assigns the value of the Authorization header to auth_header, while the test() function that is 'protected' by the before_request decorator and authorize_token function does not.

I figured out that the problem was that the authorize_token function requires a test to run the function only on the passed GET method, not the preflight request, so this now works:

[c

[2017-04-29 00:05] johnwheeler commented on #197
@frnsys The argument is named `supports_credentials` but you've spelled it `support_credentials`

[2017-04-29 03:44] frnsys commented on #197
wow, that was it -- thank you!

[2017-04-29 03:44] #197 closed

[2017-05-07 20:42] corydolphin commented on #200
Sorry for the delay!

1. You need to pass "`supports_credentials=True`" or "CORS_SUPPORTS_CREDENTIALS"=True in your config.
2. Your "CORS_HEADERS" config is incorrectly spelled (and unnecessary, since the default is to allow all headers). The correct config option is "CORS_ALLOW_HEADERS" and "CORS_EXPOSE_HEADERS"

[2017-05-07 20:42] #200 closed

[2017-05-07 20:43] corydolphin commented on #198
Yeah sadly this is tough to support. I wish there was a better way to support this in DEV. When not in Dev, it should work as expected.

[2017-05-07 20:47] corydolphin commented on #196
Looks like an error in your view logic. Please post a minimal working example -- I don't believe flask-cors is the issue here.

[2017-05-07 20:47] #196 closed

[2017-06-22 22:45] gsakkis opened #202 "Wildcard origin sent despite supports_credentials=True"
`CORS(app, supports_credentials=True)` causes the server to return `Access-Control-Allow-Credentials: true` and `Access-Control-Allow-Origin: *`, which afaict is invalid. The cause is the `always_send=True` default option; making it `False` doesn't trigger the bug.

Probable fix:
[code]

[2017-06-27 14:25] ganeshparsads commented on #202
@gsakkis,
There is no way to set `origins` to `*` and `supports_credentials` to `true`.
So, to handle this condition we need this thing to be like this. Let me know if I understood the problem wrong way.

[2017-06-27 17:22] gsakkis commented on #202
@ganeshparsads what do you mean there is no way? I just gave an example that demonstrates the issue (actually bug) along with a fix.

[2017-06-27 19:03] corydolphin commented on #202
I think you are both right. It is currently possible for Flask-CORS to return these headers in the situation, as @gsakkis has shown.

@ganeshparsads you are correct in that it is not valid for browsers to receive these headers.

I will create an update per @gsakkis's diff to fix this issue.

[2017-07-10 09:57] rustanacexd opened #205 "POST is working but DELETE is blocked"
POST is working but DELETE is blocked

I don't use a decorator only this - `CORS(app)`

[2017-07-10 16:52] rustanacexd commented on #205
closed. it was an issue with aws api gateway

[2017-07-10 16:52] #205 closed

[2017-07-11 01:01] corydolphin commented on #202
This should be fixed. @gsakkis thank you very much for the bug report (and fix :D)

[2017-07-11 01:01] #202 closed

[2017-08-01 15:01] wobeng opened #206 "support all subdomain of a domain when supports_credentials=True"
Hi,

I'm using supports_credentials=True. With support_credentials Access-Control-Allow-Origin can't be *.
I want to support all subdomain of .app.domain.com. Is it possible to allow https://*.app.domain.com

[2017-08-16 17:04] corydolphin commented on #206
Hello,

Yes, you should be able to pass '*.app.domain.com', or any other regular expression.

Please re-open this issue if you are still having trouble.

Thanks,
Cory

[2017-08-16 17:04] #206 closed

[2017-08-16 17:05] #195 closed

[2017-08-28 21:15] jrhite commented on #147
Just FYI, I still see the same problem:

I'm using Flask-Cors==3.0.3.

Running Mac OS X 10.11.6, Python 3.5.2. I experience this problem in Chrome (version 60.0.3112.113) with XHR requests. Safari and Firefox don't exhibit the problem. Curl doesn't exhibit any hanging or slowness (not doing XHR).

The hanging/slowness seems to occur about 90% of the time, causing some very trivial requests to hang

[2017-08-29 17:31] corydolphin commented on #147
@jrhite thanks for the report. I'm trying to run your project to see if I can reproduce it (and then investigate it properly). Looks like I am missing a 'repos.json' file? If you can update the instructions to make it possible for me to run that would be awesome.

Thanks!

[2017-08-29 23:16] jrhite commented on #147
Thanks for looking into this @corydolphin. Actually I don't have the project uploaded to GitHub, so you won't be able to see the project I'm working on (sorry about that). Let me see if I can quickly put together a barebones demo of this behavior in the next few days and get that uploaded for you (am traveling now).

[2017-08-30 02:16] corydolphin commented on #147
Ahh, my apologies -- I got confused by the reference above. That would be amazing, if you do that, I'll definitely look into it.

Thanks for the help with this -- it looks like a bit of a funky problem. Will be a fun one to debug :)

[2017-08-31 02:15] jrhite commented on #147
Hey,

So sorry for the noise. This is almost definitely not an issue with flask-cors. This hanging/slowness problem with flask/chrome seems to be a pretty widespread problem and the theme pops up in google searches in lots of contexts not related to flask-cors. The `--with-threads` solution seems to fix things in all the situations I've read about.

Unfortunately for flask-cors, googling 'hanging

[2017-09-04 14:18] wobeng commented on #206
sorry for reopening. Just to confirm, I can add

https://*..app.domain.com and https://*..app.domain.com

 in the origins list and it should work?

[2017-09-04 14:19] wobeng opened #208 "support all subdomain of a domain when supports_credentials=True"
sorry for reopening. Just to confirm, I can add

https://..app.domain.com and https://..app.domain.com

in the origins list and it should work?

[2017-09-05 01:14] corydolphin commented on #208
What do you mean "all subdomain"? If you want to support all subdomains under a root, e.g.
api.domain.com, www.domain.com, all you need is `".*\.domain\.com"`

The strings are matched using standard Python Regex, so to test, you can just run it in the repl:

[code]

[2017-09-13 12:11] LrsK commented on #192
I have a related question. Is it possible to disable the CORS-headers on 401, 404 etc responses? I am thinking that in the case where an API is password protected, the system should leak as little as possible about the CORS-details, e.g. the Access-Control-Allow-Origin header. This header could contain further endpoint information.

However, if the headers need to be there to adhere to the spec, t

[2017-10-02 20:25] corydolphin commented on #192
Good callout.

Cookies are not allowed to be submitted across origins by default by Flask-CORS, due to the security risk.

In other cases, browsers use pre-flight requests to ascertain CORS information. This information is not private, and should not be treated as such, since it may always be accessed outside of the browser.

[2017-10-02 20:25] #192 closed

[2017-10-02 20:25] #208 closed

[2017-10-03 11:31] danbst opened #209 "Let user be explicit about origins encoding: plain, glob, regex or regex_partial"
See https://github.com/corydolphin/flask-cors/pull/160#issuecomment-226674064 which discussed a security issue when regular strings were considered regexes.

Even if glob encoding isn't supported, it isn't neither prohibited explicitly, so when user uses Glob-style
[code]
he should be aware that Origin `https://api-company-com.malware.com` will match by setting origin matching schema to `regex_par

[2017-10-27 23:28] fgblomqvist opened #210 "No CORS on error pages"
I am using the middleware in my blueprinted flask app:
[code]
The correct CORS headers are not set on the error pages, which results in a CORS error on the front-end every time the server throws an error. Am I doing something wrong?

[2017-11-13 04:32] jeiting commented on #147
Hit this same thing today.

The issue is the way Chrome opens speculative connections to speed up subsequent requests. If the speculative connection is accepted by the server first it hangs the singly threaded server. Nothing to do with flask-cors.

I wrote up what I found [here](https://medium.com/@jeiting/chrome-preconnect-breaks-singly-threaded-servers-95944be16400).

[2017-11-13 08:26] jrhite commented on #147
@jeiting Thanks for the follow up and write up!

[2017-11-20 06:25] shgam2 opened #211 "Issue with setting up origins"
Hello there,

I've been struggling to set up the CORS correctly for a couple of days now.
My intent is to only allow certain URLs to access the server that I've built, but it's not working as I expected.
So I created a new python server on the local with the code provided in the link:
(https://github.com/corydolphin/flask-cors/blob/master/examples/app_based_example.py)
and changed the line 32 to t

[2017-11-21 17:34] corydolphin commented on #211
Hey Brian,

CORS is a system which browsers use to enforce secure communication when a page loaded on domain A wants to communicate with something on domain B. It won’t change how a browser simply loads content from B, but rather content loaded from B while on A.

Does that make sense?

[2017-11-30 01:07] igorvishnevskiy opened #212 "How to specify the list of origins?"
**I need to limit access to calls coming from 2 domain names as well as localhost.**

**I tried following:**
[code]

**And I tried the following:**
[code]

**Receiving exception in both cases:**
[code]

**API works when I allow all CORS:**
[code]
**But I need to limit access to calls coming from 2 domain names as well as localhost.**

Thank you for your help.

[2017-12-01 18:33] tista3 commented on #212
You have to specify schema and port if it is not explicit port for that schema. So this do not work with CORS:
`"origins": ["localhost", "mywebsite.example.com"]`
And this do work correctly:
`"origins": ["http://localhost:8000", "http://mywebsite.example.com"]`

[2018-01-16 19:42] leunardo commented on #147
I got a similar issue, and using `threaded=True` seems to resolve. After doing a **PUT** request to server, trying to make a **GET** request (I didn't tested another verbs, but probably occurs) were tooking so long, more than 85k ms. With `threaded=True` I got the normal response time I was getting, 500 ms.

[2018-01-29 19:54] corydolphin commented on #209
@danbst sorry for the delay in getting back to you!

This is definitely an issue. I think the only way to safely fix this is by issuing a V3 which will make it more explicit, and safer by default.

I think it can be simplified further such that the only valid options for the origins should be:
'*', a valid hostname string, or a regex object. I believe that would simplify the logic substantially. I

[2018-02-26 08:36] MeesterMan commented on #212
Can someone please provide an example of using regular expressions to specify access to specific domains.
I have tried the following without success:
`cors = CORS(app, origins=['http://localhost:5000',r'^https://.+example.com$'])`

I expect the following URL be allowed access for CORS:  https://jan.flan.example.com
I also tried variations thereof without success.  Thank you

[2018-03-05 17:54] philgs commented on #210
I am also experiencing this problem. I do not think you are doing anything wrong. Were you able to overcome the problem?

[2018-03-05 18:02] corydolphin commented on #210
Sadly this is kind of tricky to get working properly.

The behavior in DEV mode for Flask is diff tent than production, as it
changes the way middleware are run in the case of an error.

Can you disable DEV mode and let me know if that fixes it for you? If so,
the workaround is to also annotate your error handlers so it works in DEV.
Wish I had a better workaround.

Thanks,
Cory

On Mon, Mar 5, 20

[2018-03-05 18:24] philgs commented on #210
Thanks for the quick response! I was looking at #198, too. I'm relatively new to Flask, and I'm not sure what "production mode" means, as there is not great documentation on it. Does it just mean running with GUnicorn or some other server that's not Flask's internal server?

[2018-03-05 18:41] fgblomqvist commented on #210
I never officially solved my issue, I just haven't interacted with it much lately. When he says DEV mode maybe he means FLASK_DEBUG=1 ? Otherwise I am not sure what he is referring to. Nonetheless, I had this issue on my production server as well so not sure...

[2018-03-05 18:43] corydolphin commented on #210
@fgblomqvist yep! Sorry for the lack of clarity here. I'm suggesting running with 'debug=True' e.g. `app.run(debug=True)`

[2018-03-05 18:46] fgblomqvist commented on #210
Thanks for the clarification! I will post here once I stumble upon the error next time and try to provide more details of the config.

[2018-03-07 14:37] philgs commented on #210
For what it's worth, I was able to get Flask to run in "production" mode by using the `flask` command on the command line. When doing that, I couldn't get it to bind to the correct IP address and port. Running with `gunicorn` put Flask in production mode and attached to the correct IP and port.

In that configuration, the CORS module worked as expected. You can consider this closed from my POV. Th

[2018-03-14 09:26] keyeMyria opened #215 "same domain added twice"
I use Nginx for reverse web  proxy, and the configuration for api as following:

    location /api/ {
                set $cors '';
                if ($http_origin ~ '^http?://(localhost|zz56\.s1\.natapp\.cc|logierp\.zz56\.s1\.natapp\.cc)') {
                        set $cors 'true';
                }

                if ($cors = 'true') {

                        #add_header Access-Control-Allow

[2018-03-23 16:32] salaimani18 opened #216 "Flask cors not working updated in Google Chrome"
Cors  not working in updated Google Chrome  version 69.XXX .It showing cross domain error in python Flask.In lower version working properly.check and solve it

[2018-04-02 22:06] rnama22 commented on #147
I was having the same problem and setting up threaded = True resolved the issue. Couldn't find out the cause but Flask hangs for a brief time before even hitting the server. I have been seeing this issue often.

[2018-04-05 20:33] philgs commented on #210
Have you tried running `flask` from the command line? That should give you an indication if the problem in in Flask or UWSGI--I think, because I don't know a lot about these packages. 😸

[2018-04-06 12:42] jacopofar commented on #215
@keyeMyria nginx does that automatically when the same header is defined twice, in your case probably the two conditions are both true. Make the condition stricter so they don't overlap, but this is not a `flask-cors` issue

[2018-04-09 01:41] #215 closed

[2018-04-09 01:42] corydolphin commented on #216
Thanks for the report. Can you provide more information? I can’t reproduce this.

[2018-04-10 10:08] ariep commented on #210
That's not possible unfortunately: my program uses some uwsgi features (caches (actually more of an in-memory key-value store) and locks), so it can't run without uwsgi.

To be honest I don't think the problem is in uwsgi, because I wouldn't expect that uwsgi touches the http response. It's flask that generates the http response, and flask-cors that generates these CORS headers – except it doesn't

[2018-04-25 19:42] dusktreader opened #217 "cors_after_request dies if the request has headers=None"
None is the default value of headers. If none are set, the following exception is raised:

[code]

This can happen with unhandled exceptions which cause a 500 error, or any response that does not set headers.

[2018-04-26 16:32] #217 closed

[2018-04-26 16:32] #216 closed

[2018-04-26 16:32] corydolphin commented on #216
Closing because there is no reproducible case. It sounds like it may be a configuration issue.

[2018-04-26 16:33] #211 closed

[2018-04-26 17:26] corydolphin commented on #212
@MeesterMan your configuration is correct. The regex detection worked incorrectly for your pattern, and I will update it shortly.

[2018-05-06 07:00] jodiwaljay opened #220 "flask-cors authenticated requests with current_user"
I have added after creating flask app instance
`CORS(app, supports_credentials=True)`

for login and checking authentication I am using
[code]

current_user.is_authenticated results false. But works perfectly fine in postman. Also if I remove CORS and try current_user.is_authenticated it works. So I'm sure issue is related with CORS.

Many similar issues are already present. Looking through them s

[2018-05-06 07:54] jodiwaljay commented on #220
I figured out the issue. I had to send `withCredentials: true` to make sure frontend client sends session with the requests. Probably you should include that somewhere in the documentation. This silly thing ate up my lovely sunday morning

[2018-05-07 01:27] corydolphin commented on #220
Ahh, sorry to hear you had trouble!

Is there any chance you have the time to make a pull request to add the
information you’d like to see? I’d really appreciate the help!

Thanks,
Cory

On Sun, May 6, 2018 at 12:55 AM Jay Jodiwal <notifications@github.com>
wrote:

--
@CoryDolphin <https://twitter.com/CoryDolphin>
339-440-3020 <javascript:void(0);>

[2018-05-07 11:09] jodiwaljay commented on #220
Sure. I'll be glad to do that. By adding the info you mean in readme, right ?
Also, I am closing the issue. Just wanted to bring this into attention

[2018-05-07 11:09] #220 closed

[2018-05-22 03:40] corydolphin commented on #212
Fixed and released as 3.0.5

[2018-05-22 03:40] #212 closed

[2018-05-29 03:39] corydolphin commented on #198
Merging this into #210

[2018-05-29 03:39] #198 closed

[2018-06-17 22:37] fenekku opened #226 "Can't get @cross_origin to work with create_app"
Hi,

I must be doing something wrong here. I have a very simple app using `@cross_origin` on a view but CORS headers are not sent back or respected on tests with cURL:

[code]

I am expecting the call below to fail since only `http://example.com` is allowed and the `Origin` header is being spoofed to `http://example123.com`. This is what I get however:

[code]
with Python 3.6.5 I get the same resu

[2018-06-18 23:49] jamalmoir opened #227 "Can't get Authorization headers to work"
I have an app with a few blueprints and have just `CORS(app)`'d the whole thing.

Everything works until Authorization is involved.

After looking around many solutions and trying them all I still can't seem to get it to work. It fails anytime I pass an `Authorization: BEARER <token>` header with `Failed to load http://localhost:5000/xxx: Response for preflight is invalid (redirect)`.

[code]
jour

[2018-06-19 05:44] corydolphin commented on #226
Hello,

If that is an exact configuration example, the issue is that the origins specified does not match the Origin header. `http://example123.com` will not match `http://example.com`. Update the specified origins to `http://example123.com` and things should work as you expect.

Cheers,
Cory

[2018-06-19 13:23] fenekku commented on #226
Oh! The `Access-Control-Allow-Origin: http://example.com` (and family) header is **only** returned for a request with `Origin` that matches the allowed policy and no such headers are returned at all for other requests without a matching `Origin`. This is probably done:
- for additional security by making allowed hosts unknown to other clients.
- to save bandwidth
- because unallowed requests are b

[2018-06-19 19:27] corydolphin commented on #226
@fenekku That's on the right track! Let me know how it goes.

[2018-06-21 01:29] fenekku commented on #226
It works as intended! Thank you for validating!

[2018-06-21 01:29] #226 closed

[2018-06-22 10:30] Chris2048 opened #228 "Is it possible to get Allowed methods from Flask?"
When a OPTIONS call is made, flask is able to (presumably by looking in the route map) return a list of supported methods, as such:

    if options.get('automatic_options') and request.method == 'OPTIONS':
                resp = current_app.make_default_options_response()

However, is it possible to use this same function to return the '' header for other method-responces (e.g the response of a GE

[2018-06-22 16:16] corydolphin commented on #228
Hey Chris,

Thanks for opening an issue!

I don't totally understand your question, or what you are trying to solve.

By default, Flask-Cors allows all methods, intending to leave it up to the user to remove methods they don't want. Is there a use case you have that isn't handled?

Thanks,
Cory

[2018-06-22 16:18] corydolphin commented on #227
Hey @jamalmoir,

It sounds like what is happening is that the route which is being queried does not support options. Can you provide a more full example of the request to '/xxx' and what that route looks like?

Thanks,
Cory

[2018-06-27 14:48] Chris2048 commented on #228
Hi Corey, no prob :-)

Well, In my flask route map the supported method are explicitly defined - often b/c they are derived from a resource object that defines these methods.

I'd like to reuse this information (found in the route map) to determine what methods are allowed.

Regards.

[2018-07-25 12:56] xiaoming401 commented on #201
I've encountered same problem and this page helps a lot.Thx!

[2018-08-05 21:06] luizsouzax opened #230 "Block requests to a Blueprint using CORS"
Using

[code]

I blocked the external requests to Api Blueprint routes ? Using CORS to this purpose is adequate or I need to find another solution ?

[2018-08-06 16:00] corydolphin commented on #230
Hey Luis,

CORS is only useful from a security perspective when the client is a web
browser. Flask-CORS doesn’t itself block requests, but informs browsers of
how a resource may be used.

If “external” means “from another domain” then CORS is right for you.

On Sun, Aug 5, 2018 at 2:06 PM luizsouzax <notifications@github.com> wrote:

[2018-09-21 18:51] ryfles2 commented on #210
@philgs Can you tell me how you run flask from the command line?

[2018-09-22 01:40] corydolphin commented on #210
@ryfles2 checkout the Flask getting started guide here:
http://flask.pocoo.org/docs/1.0/quickstart/

The examples in this repo can be run as scripts eg python <script name.py>

On Fri, Sep 21, 2018 at 12:24 PM Phil Gates-Shannon <
notifications@github.com> wrote:

[2018-09-22 14:52] NikolaJankovic commented on #210
I'm having this same issue, cors headers aren't served on error pages which raises an exception on the frontend and removes all useful debugging info. I've only seen this issue in my production environment.

[2018-10-07 05:29] Vaibhav opened #233 "Use logging.warning instead of logging.warn"
I am getting the following deprecation warning:
[code]

Look [here](https://stackoverflow.com/questions/15539937/whats-the-difference-between-logging-warn-and-logging-warning-in-python-or-are) for more info.

[2018-10-10 03:15] #233 closed

[2018-10-11 03:32] Sphinxs commented on #200
@corydolphin I have the same error. I have built a application and If I test request using Postman or Insonia it works normaly, the application gets the requests and store the data in the session / database, but if I try to make a request from a React application using Axios I receive a error and the application don't store nothing. Error :

`Failed to load 127.0.0.1:5000/logout : Response to pref

[2018-11-29 20:43] peterlada commented on #212
@ghost you might want to escape the dot in `example.com`

[2018-12-28 15:54] huberrom opened #236 ""Origin header does not match any of allowed origins" despite having origins as '.*'"
Hi, I have the following stack trace when using flask cors :

[code]

And I don't understand the second line, since the fourth one shows that the accepted origins are '.*' (which means everything right ?)

My code look like that:

[code]

I'm using flask_cors 3.0.4 and the request looks like this :
![image](https://user-images.githubusercontent.com/19253772/50520654-d6c96700-0ac1-11e9-856f-5f0d724

[2018-12-28 17:31] huberrom commented on #236
I noticed that it works with GET method but not POST.

[2018-12-28 17:36] huberrom commented on #236
Sorry I was calling the wrong route, my bad !

[2018-12-28 17:36] #236 closed

[2019-01-24 16:30] Tonkonozhenko opened #237 "Access-Control-Allow-Origin returns incorrect value"
Hi

We have a high-load service with like ~50rps on each container. In the app I have next endpoint:

[code]

I run the app in env with `GUNICORN_CMD_ARGS="-b 0.0.0.0:80 --workers 2 --threads 10"`.

It looks like result of `Access-Control-Allow-Origin` is incorrect and it relates to the previous or other concurrent request.

While writing the issue I realized that probably it's because of building

[2019-01-30 19:51] peterlada opened #238 "Origins parameter to accept a function to determine match"
@corydolphin Would you be welcoming a PR to add functionality to the `origins` parameter, to allow passing a function reference which can be called to to determine if the origin matches?

**Use case**: I have an app that serves pages on many (on ours and clients') domains. This list is stored in the DB, and can be cached in the server's memory. Allowing a function to determine the origin match wou

[2019-02-10 13:53] homekeeper89 commented on #196
Hello corydolphin!
i had a same issue about

Hello! corydolphin
i had a same issue about that.
I want to use cross_origin decorator with @before_request, but the return is ' ValueError: View function did not return a response'.

`@admin.before_request
@jwt_optional
@cross_origin()
def before_auth():
    path = request.url_rule.rule
    path = path.split('/')
    to_board = path[2]
    method = req

[2019-03-20 16:39] osallou opened #239 "importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated"
Hi,
I get this warning relative to deprecation and future python support removal (got it in many other libs too...)
I am using version 3.0.7

    .../venv/lib64/python3.7/site-packages/flask_cors/core.py:322: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  and isinstance(obj, collections.Iterable)

[2019-04-01 17:02] esfoobar opened #240 "Regex Subdmain Match"
I have been trying for a long time to match a subdmain for CORS. I'm using Zeit Now's serverless service, which generates a random URL that always ends with `wheatpaste.now.sh`, but can also work with the static domain `staging.admin.wheatpaste.app`.

The static domain works perfectly, but the Now.sh doesn't.

Here's the list I've defined in a settings object:
`CORS_ORIGINS='["https:\/\/(.)*\.whea

[2019-04-09 21:38] ajenkins-cargometrics opened #241 "cross_origin decorator doesn't work when view raises exception"
If I configure CORS using `flask_cors.CORS(app)`, then CORS headers are added to responses even when a view function raises an exception.  However if I use the `cross_origin` decorator instead to configure CORS, it only takes works if the view function exits normally.  I could understand this being the case for arbitrary exceptions, but this is true even for HTTPExceptions, which are often used to

[2019-04-11 04:53] corydolphin commented on #241
Hi @ajenkins-cargometrics the behavior is not intentional, a pull request would be much appreciated.
It is a little tricky since flask has different handling when running in debug v.s. production.

Let me know how you go! Really appreciate any contributions!

[2019-04-27 20:10] shivamguys opened #242 "When Used before_request Decorator in the main file , it raises origin policy error"
![Screenshot from 2019-04-28 01-36-22](https://user-images.githubusercontent.com/25263989/56854572-5c690080-6956-11e9-930c-988ac8597612.png)
![Screenshot from 2019-04-28 01-34-19](https://user-images.githubusercontent.com/25263989/56854573-5d019700-6956-11e9-82a4-c0e261150120.png)
![Screenshot from 2019-04-28 01-33-46](https://user-images.githubusercontent.com/25263989/56854574-5e32c400-6956-11e9-

[2019-04-27 21:33] shivamguys commented on #242
Just Add a cross_origin() decorator below to that it works like a charm,but then issue is that before_each decorator needs to return some response although it's not supposed to return any response but using a cross origin decorator just mimics the cross origin and it makes it as a normal function that should return some response.
![Screenshot from 2019-04-28 02-58-38](https://user-images.githubuse

[2019-04-27 21:33] #242 closed

[2019-05-27 11:53] blaise-io commented on #228
We're running into the same issue with the same use case.

It would be really nice if flask-cors uses the information which methods a view *actually* allows instead of using ALL_METHODS because listing all methods may confuse API consumers which methods can actually be used. This information is available in Flask from `url_adapter.allowed_methods()`.

Limiting the list manually on a global level i

[2019-06-01 02:42] jdevera commented on #239
`six` should cover this but alas the PR is stuck: https://github.com/benjaminp/six/pull/241

[2019-06-01 02:48] jdevera commented on #239
Related: #243

[2019-06-03 08:47] MisterY opened #244 "No CORS when starting the app through entry_points"
Hi, I have a weird issue.
Using Flask-CORS as documented works if the Flask app is started with `flask run`.
Since I want to have the app ready on other devices, I've added an entry in `entry_points` in setup.py so that
[code]
This allows me to run the web app by running `cashiersync` from the console. It does indeed start but the CORS headers are not present!
If, instead, I do
[code]
The headers

[2019-06-08 02:23] corydolphin commented on #239
Thank you! Fix is merged as #243 and will be deployed shortly.

[2019-06-08 02:23] #239 closed

[2019-06-10 18:41] zkagin opened #245 "Deprecation Warning for CORS import"
When using flask_cors and running tests I get the following warning:
[code]

[2019-06-11 05:03] corydolphin commented on #245
Hello @kzkagin, can you confirm which version of flask-Cors you are using?
Version 3.0.8 (released just yesterday) should fix this issue!

Cheers,
Cory
On Mon, Jun 10, 2019 at 11:41 AM zkagin <notifications@github.com> wrote:

[2019-06-11 20:48] zkagin commented on #245
Good timing! I was on 3.0.7. Updated and it is indeed fixed.

[2019-06-11 20:48] #245 closed

[2019-06-11 20:55] corydolphin commented on #245
Glad to hear it. All hail @juanmaneo and @jdevera for doing the work!

[2019-06-18 03:23] JeanClaude3 opened #246 "Only allow root domain (no subdomain access)"
My backend API his hosted on `api.example.com`

However, when I visit `api.example.com` directly and visit an endpoint, I can see the returned response for pages which don't require authorization.

My current configuration of Flask-cors:
[code]
I have tried many different versions of the above origins, but none prevent someone from accessing the api subdomain endpoint directly and running requests

[2019-06-18 19:49] JeanClaude3 commented on #246
I just moved my API to a separate domain eg. example2.com

however, it still can be viewed directly even though CORS is specifically configured to only allow requests from "example.com" ... really think I am missing something here.

any help would be greatly appreciated

[2019-06-29 21:15] mbrucher opened #247 "Only CORS on OPTIONS?"
I'm trying to fix a problem with CORS on my web app.
I have the following CORS call:

`CORS(app, resources=[r'/api/*', r'/auth/*'], origins=[r'^https://.*xxxx\.org$'], supports_credentials=True, vary_header=True)`

I see the OPTIONS call in Chrome's debug as expected:

[code]

But then the POST call fails and I don't see the call on the backend:

'Access to XMLHttpRequest at 'https://api.xxxx.xxxx

[2019-06-30 08:51] mbrucher commented on #247
I thought it was a JWT issue as well, as it happens only on flask-JWT-extended protected entry points, but it looks like if I remove the protection and put it in the code (so instead of being JWT->CORS->code, it's CORS->code->JWT), I still hav the same problems and no calls to the API.

[2019-07-10 15:52] corydolphin commented on #247
Hey @mbrucher sorry for the delay.

If you enable debug logging, there should be more verbose information on the Python side about what is happening, and why. Offhand, that configuration looks good to me.

Set `logging.getLogger('flask_cors').level = logging.DEBUG` to enable verbose logging.

Cheers,
Cory

[2019-07-10 16:02] corydolphin commented on #246
Is this a browser or a command line client? In the case of a browser, the response should not have CORS headers. If you take the app based example:

[code]

You can see that no CORS headers are returned when using the wrong domain.
[code]

[2019-07-10 16:05] corydolphin commented on #210
This is a duplicate of https://github.com/corydolphin/flask-cors/issues/241
Would love to figure out a better way solve this in debug. It should work fine in Production, however.

[2019-07-10 16:05] #210 closed

[2019-07-10 16:10] corydolphin commented on #237
Ahh, yes. You are entirely correct. We depend on mutating the response object to `know` whether or not CORS has been evaluated to ensure the decorator and the app-level middleware do not "fight". There may be a better way to handle this, but currently that is what we do, sadly.

Similarly, we mutate the headers dictionary, so reuse at that layer would cause problems as well. We could defensively c

[2019-07-10 16:10] #237 closed

[2019-07-10 16:51] corydolphin commented on #238
Yes! I would welcome it!

[2019-07-17 14:43] andrewmfiorillo opened #248 "CORS headers not injected when specifying root origins and per-resource origins"
Hi!
I noticed when using the `CORS(app, origins=[...], resources={...})` constructor that the origins in the root level are ignore. A simple example application would be

[code]

Running this and then using curl, you can see:

- http://localhost:5000/a --> has `Access-Control-Allow-Origin: *` as expected
- http://localhost:5000/b --> has no `Access-Control-Allow-Origin` header

If commenting out t

[2019-08-01 12:15] andrewmfiorillo commented on #248
I had a bit more time to investigate this and found in the documentation:

Which led me to a fix for my particular solution, but leaves my original question. My fix initializes the extension with:

[code]

Still, the docs would suggest that initializing it in the original way should also work. **Should defining a dictionary in `resources` override the app-level configuration given in other keyword

[2019-08-21 16:21] julivert82 opened #249 "flask-cors + flask-login + vuejs"
Hi there,

I'm trying to use this stack to build an application up, but unable to mix them up properly.

When requesting the login directly to the backend it works quite fine (despite of some extra cookies being set), but when adding CORS due the call from the VueJS application, the drama starts.
CORS is configured like this:

CORS(app, supports_credentials=True, resources={r'/*': {'origins': 'htt

[2019-08-22 08:29] julivert82 commented on #249
Hi there,

I found the issue and it's nothing related to flask-cors, not even flask-login or vuejs, it's how the engine uses the 302 redirect. Some of them change the method from "any" to "get" making the request body empty, so when it's reviewed by the login component it does have the original request parameters.

Changing the redirect code to 307 did the job.

Closing

[2019-08-22 08:29] #249 closed

[2019-09-10 20:01] Shamim56 opened #250 "Cors is allowing all incoming requests"
Hi,

I setup a simple flask application. I specified certain origins that i only want requests from. However, I can still access the resources from other hosts that are not inside this origins array

[code]

[2019-09-10 20:19] #250 closed

[2019-09-16 14:30] mfrlin opened #251 "Configuring CORS for all Blueprints via Config"
Is there any way to configure CORS for all Blueprints? If I set up CORS on the app and I register Blueprints then CORS won't work for those Blueprints. So now I have to configure CORS for each Blueprint separately. Furthermore I imagine (docs aren't clear about this) I can configure Flask app with a Config class with `CORS_ORIGINS = [...]` and it should work. But now CORS does not have access to t

[2019-10-01 18:28] piyushpriyam opened #252 "has been blocked by CORS policy: Request header field content-type is not allowed by Access-Control-Allow-Headers in preflight response."
CORS(app, resources='/apk', allow_headers='content_type',
     origins='*')

I am trying to integrate Angular with the python services.
I have check all related issues.
It didn't help.

[2019-10-01 20:52] piyushpriyam commented on #252
used CORS(app)

did not work

[2019-10-02 06:32] piyushpriyam commented on #252
@app.after_request
def after_request(response):
    response.headers.add('Access-Control-Allow-Origin', '*')
    response.headers.add('Access-Control-Allow-Headers', 'Content-Type,Authorization')
    response.headers.add('Access-Control-Allow-Methods', 'POST')
    return response

need to use this.

[2019-10-02 06:32] #252 closed

[2019-10-22 08:22] czerw opened #253 "Test fails in test_acl_uncaught_exception_500 with Flask 1.1.0"
Build test started to fail after Flask update to 1.1.0. Failure is not dependent on python version(2/3).
Last working Flask version was 1.0.4.

[code]

[2019-11-29 14:12] sfilipov opened #256 "Wildcard origin pattern is too generic - matches incorrectly on more complicated patterns"
Inside [get_cors_origins](https://github.com/corydolphin/flask-cors/blob/8a4e6e7057924d124a39ec08f446345bc19e4c5b/flask_cors/core.py#L113) the variable `wildcard` is defined as `r'.*' in origins`. This is too generic because it matches for example in patterns like `r'^https://app\.(.*?\.)example\.com$`
`r'.*'` is present in that pattern.

This can cause issues later on with `if wildcard and option

[2019-11-29 14:44] sfilipov commented on #256
Sorry for bothering you - I figured out that by the time `origins` is passed to `get_cors_origins`, you've made sure it is iterable by passing through [ensure_iterable](https://github.com/corydolphin/flask-cors/blob/c93f4e4caa5bdc2b7d3695ab51cee65914b927ab/flask_cors/core.py#L339).

Which means `r'.*' in origins` is looking for the string inside a list of strings, rather than looking for a substri

[2019-11-29 14:44] #256 closed

[2019-12-03 04:47] corydolphin commented on #256
@sfilipov thanks for taking the time to open (and close!) the issue. Glad everything is working as expected.

[2019-12-06 01:15] jennykwan opened #257 "Access to XMLHttpRequest at 'http://...' from origin 'http://localhost:8000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: Redirect is not allowed for a preflight request."
I'm getting the following error when using axios in redux-saga in react to post a multipart/form-data:

[code]

My Flask-CORS config is dead simple:
[code]

I see nothing in the docs referencing any non-default options to pass preflight checks for origin '*'. I'm not using cookies. What am I missing?

[2019-12-19 03:16] jonthemango commented on #200
@Sphinxs Were you able to rectify the issue? I have the same error and setup.

[2019-12-19 17:36] Sphinxs commented on #200
Yes, besides `withCredentials: true` I have also set `crossorigin: true` in the Axios request, and in my Flask application I have mapped the `0.0.0.0`, that listen to all local network interface, i.e, localhost (aka, 127.0.0.1).

If I remember well I have also added other parameter in the `CORS(...)` call, I don't remember well which one, I recommend that you read the parameters of [CORS](https://

[2020-01-20 07:28] ctippur commented on #252
Hi. Can you please elaborate on your solution. I am trying the same stack. I have a custom header I need to pass and cors is erroring out.

Request header field bearer is not allowed by Access-Control-Allow-Headers in preflight response

[2020-01-25 20:32] tirkarthi opened #259 "Deprecation warning due to invalid escape sequences in Python 3.8"
[code]

[2020-01-28 19:22] andersonbfn opened #261 "Wrong PyDoc on @cross_origin decorator"
As found in a fix on [stackoverflow](https://stackoverflow.com/questions/26980713/solve-cross-origin-resource-sharing-with-flask), I found that the arg "**origins**" indicated on the PyDoc `**@cross_origin**` decorator, has wrong name. However stackoverflow version, is working fine (by using arg name "**origin**" as singular).
  Should PyDoc be fixed?
Thank's in advance.

[2020-01-29 15:01] haibeey commented on #257
you probably want to @cross_origin() decorators to your routes

[2020-02-17 10:34] koobs commented on #253
Confirming on FreeBSD CURRENT (13.x), Python 3.8, Flask 1.1.1, Flask-Cors 3.0.8

[code]

[2020-03-16 12:28] hleb-albau commented on #199
Also, If I use
[code]
i am getting same error
Any idea why?

[2020-03-27 12:23] Rawk opened #262 "CORS failure on invalid paths blocks 404 response"
I want to show users of my webapp a "Resource not found" message when the requested path is not found (404) on the backend API.

To do that, the CORS preflight have to succeed (200 OK), so that the real request can give the 404 response.

Client use-case example:
[code]

CORS preflight succeeding for unknown path would give:
- Better error handling on client. Possible to send payload/headers to cl

[2020-04-06 15:33] nioncode opened #264 "Error handlers return wrong http status code"
There were multiple issues in the past that discuss error handlers and unhandled exceptions, but I couldn't find one that exactly matches my problem: I have a global error handler set up that looks like this:
[code]

The problem now is that whenever the browser sends an OPTIONS request to a route that does not exist, this will generate a HTTPException that gets wrapped into a JSON response by the

[2020-04-21 01:09] tsaatey opened #265 "Exposed headers cannot be accessed in Angular"
Hi,
I have a flask-restful backend that is serving my Angular frontend. I have installed flask-cors to handle CORS issues, however, I am not able to get my headers with typescript code.
E.g. ```response.headers // returns undefined.```
Below is my configuration in the Flask app
[code]

[2020-04-21 01:23] corydolphin commented on #265
Hey @tsaatey I'm sorry but I don't have experience with Angular. If you can see the headers being returned in the browser console, then the issue is somewhere between the response parsing and your callsite. It sounds like the API you are using to access the headers is incorrect. I'd check the angular docs. If you can replicate the behavior using a raw XHR or Fetch, I am happy to help.

[2020-04-21 01:23] #265 closed

[2020-04-27 07:36] ChaeHyun-Kim opened #266 "May I translate this project into Korean?"
Hi :) I am Chae Hyun Kim a university student in Kwangwoon University.
I want to translate READ ME documentation for your project contribution and other Koreans who want to learn about corydolphin.
So may I translate these infos into Korean?
If I could, plz tell me how I can share the translated results.
Thank you

[2020-05-18 09:31] mukesh-mindstix commented on #257
I am getting the same issue.  I tried using `supports_credentials` , `expose_headers` , `allow_headers`. Nothing seems to help.

[2020-05-18 09:32] mukeshsharma1201 commented on #257
I am getting the same issue.  I tried using `supports_credentials` , `expose_headers` , `allow_headers`. Nothing seems to help.

[2020-05-20 08:20] gabechu opened #267 "`/api` is missing as URI-prefix within the example code"
In the [example](https://github.com/corydolphin/flask-cors/blob/5c6e05e996f10be1df1f2ad178560e54a2f82f1b/examples/app_based_example.py#L127) you provided, you have
[code]
in which should be `http://127.0.0.1:5000/api/exception` where `/api` is missing. This is an easy fix, I can open up a PR for update.

[2020-05-27 16:31] corydolphin commented on #267
Great catch Gabe! If you can open a PR I'd be happy to merge ti!

Cheers,
Cory

On Wed, May 20, 2020 at 1:20 AM Gabe Chu <notifications@github.com> wrote:

[2020-06-01 02:22] kunalketanshah opened #269 "Barebones setup doesn't work"
My server code looks like (running on `localhost:5000`):

[code]

I'm making the follow request from my client (running on `localhost:3000`):
[code]

I get the following error in the dev console on Chrome:

[code]

Is the `/options` route something that I need to implement for my Flask app? Looks like the browser makes a preflight request:

[https://ibb.co/vsqB23x](Preflight request)
[https://ibb.

[2020-06-01 22:01] GuillaumeSeren commented on #253
Hello,
I got the same issue on gentoo, with flask-1.1 python3.7 flask-cors-3.0.8
[code]
The problem seems to come from this line, https://github.com/corydolphin/flask-cors/blob/master/tests/decorator/test_exception_interception.py#L209

[2020-06-06 07:10] #269 closed

[2020-06-06 07:11] kunalketanshah commented on #269
Working as expected after mentioning a method parameter on the app.route decorator

[2020-06-19 04:26] lowercase00 commented on #217
Been having this problem on 3.0.8.
I think it started after I added health check api path, but don't understand exactly why.
My currently code for before_request and after_request is:

[code]

And my health check route is:
[code]

Any ideas on what I might me doing wront?
Thanks.

[2020-06-27 20:30] victorct-pronto commented on #257
We are getting the same issue, any update on this, it happens randomly

[2020-07-02 01:17] HarpSun commented on #257
I have hit the same issue recently, and at last I found it was caused by the unmatch of request url.
For example, at flask, I claim a url as this
[code]
but the url frontend requesting is '/user'，this will cause the flask returned a 308 redirect response which is not allowed by
Cors preflight request.

So the conclusion is making the backend url and frontend url stricly match will solve the proble

[2020-07-04 04:51] sanjeev0007 commented on #257
Thanks @HarpSun it worked for me:)

[2020-07-08 14:55] praetorian-colby-morgan opened #270 "Looking to report a security issue"
Hello,

I believe I identified a security issue, and I'd like to report it privately until a potential fix is in place. Is there an email I can contact?

Thank you,
Colby

[2020-07-08 15:11] corydolphin commented on #270
Hi Colby,

Please feel free to email me at [my GitHub usename]@gmail.com

Thanks,
Cory

On Wed, Jul 8, 2020 at 8:56 AM praetorian-colby-morgan <
notifications@github.com> wrote:

[2020-07-08 16:51] praetorian-colby-morgan commented on #270
Thanks, Cory. Sent an email.

[2020-07-09 18:12] mukeshsharma1201 commented on #257
can confirm, @HarpSun solution works!

[2020-07-17 04:11] davidmoseler opened #271 "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at ((url)). (Reason: CORS preflight response did not succeed)"
After installing and applying flask CORS to the application (cors = CORS(app)), axios requests to the application still return with

"Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at ((url)). (Reason: CORS preflight response did not succeed)"

after an initial OPTIONS request. There is no mention about "preflight" in the documentation and no solution to

[2020-07-17 04:15] davidmoseler commented on #200
Please can you add something in the documentation that explains how to do it? I tried adding CORS_SUPPORTS_CREDENTIALS = True to the documentation and nothing happens.

[2020-07-29 18:23] miqayel-manvelyan commented on #271
@davidmoseler
[code]

[2020-08-30 21:47] #270 closed

[2020-08-30 21:48] corydolphin commented on #270
Thank you for reporting. This issue is fixed in the latest release 3.0.9.

[2020-08-30 21:48] corydolphin commented on #267
Fixed! Thanks

[2020-08-30 21:48] #267 closed

[2020-08-30 21:48] corydolphin commented on #266
Hello, I am not very familiar with how best to maintain a translated readme. If you are still interested, I'm happy to help faciltate!

[2020-08-30 21:49] corydolphin commented on #253
Fixed in release 3.0.9 by skipping the test. Flask improved the error handling behavior, so our exception interception is no longer necessary!

[2020-08-30 21:49] #253 closed

[2020-08-31 10:43] bbbart opened #274 "missing documentation on configuration options"
Hi,

After using `flask-cors` for a while, I was getting a bit frustrated I seemed to have to configure my CORS settings when instantiating the `CORS` object, which meant I couldn't include the config in my app configuration.

Only after stumbling upon a hint deep in the documentation about `CORS_*` options (https://flask-cors.corydolphin.com/en/latest/api.html#extension) and subsequently going th

[2020-08-31 16:18] corydolphin commented on #274
Hey @bbbart thanks for taking the time to create an issue, I really appreciate it!
There is some _very light_ documentation of this. If you are up for it, I would happily merge a change to improve the documentation. I agree, using app configuration is likely the best practice, if you have the energy and could add a small snippet describing the options, it would be incredible! 🙌

![image](https://u

[2020-09-02 11:52] HitLuca opened #275 "Type hint project"
I use this project for all my apis, and I would see a benefit in having it fully type hinted for use with type checkers like mypy. Given that it's not a very big project it shouldn't take much work and it's something that doesn't bring downsides that I'm aware of

[2020-09-05 09:23] bbbart commented on #274
I'm working on something... let me propose a pull request on this soon.

[2020-09-05 10:36] bbbart commented on #274
please have a look at https://github.com/corydolphin/flask-cors/pull/277 :-)

[2020-09-06 19:01] edge37v opened #278 "Make default allowed origin the request origin instead of wildcard?"

[2020-09-07 00:38] corydolphin commented on #278
Hey @edge37v I went back and forth on this, but ended up using a wildcard because it (in combination with origin:vary, which is sent automatically) allows for better integration with CDNs.
Is this causing an issue for you? I'd be interested to hear more.

Thanks,
Cory

[2020-09-07 15:52] piyushpriyam commented on #252
Provide your custom header like:-
response.headers.add('Access-Control-Allow-Headers', 'Content-Type,Authorization,timeout')

[2020-09-14 08:30] bbbart commented on #274
documentation updated

[2020-09-14 08:30] #274 closed

[2020-09-14 14:06] edge37v commented on #278
It's cool, figured out to add it in the response

[2020-09-14 14:06] #278 closed

[2020-09-15 14:27] jshhrrsn opened #279 "decorator `allow_headers` kwarg doesn't seem to have effect (`is not allowed by Access-Control-Allow-Headers` error)"
I'm using the decorator to set the CORS headers, and I keep getting back an error:

`... has been blocked by CORS policy: Request header field x-requested-with is not allowed by Access-Control-Allow-Headers in preflight response.`

[code]

Here's the headers (note the absence of `x-requested-with`):

![image](https://user-images.githubusercontent.com/55145994/93223225-bcd52980-f767-11ea-85fa-987aa

[2020-09-15 15:18] jshhrrsn commented on #279
I added a set_trace to `core.get_cors_options` locally to inspect the serialized options and that does include the correct allow_headers:

```{'origins': 'x.y.z.com', 'allow_headers': ['Content-Type', 'X-Requested-With', 'x-requested-with']...}```

not sure what I'm missing here - any help greatly appreciated!

[2020-10-06 18:00] marzetas opened #280 "Decorator only applies to the first route declared"
Hi, I was wondering if you could help with an issue I'm observing while using the `cross_origin` decorator. I have two endpoints linked to the same route, one serving GET requests, the other serving POST requests. Something like this:
[code]
What happens here is that the `cross_origin` decorator is never hit when I hit the POST endpoint.

From what I can see, it seems like the decorator is linked

[2020-10-08 09:29] HHK1 opened #281 "Support runtime injection of origin"
## Current behaviour

Right now, the origins that are allowed are passed during the wrapping of the app. They are static and cannot be injected dynamically.
 ## Desired behaviour

My use case is the following: I'm exchanging an http-only session cookie against a JWT on a centralized auth server. The front client is a SPA hosted on a lot of different domains. I need to set allow-credentials to True

[2020-10-09 08:06] HHK1 commented on #281
Actually this has been implemented in #268 ! Would love to have this merged @corydolphin 🙏

[2020-10-14 11:55] HHK1 commented on #262
Agree with that, actually posted a question on stack overflow on what should be the status code:
https://stackoverflow.com/questions/64352697/should-a-server-implementing-cors-always-reply-with-a-2xx-code

[2020-10-14 14:07] nioncode commented on #262
Fwiw, if you use a custom error handler, simply decorating it with `@cross_origin()` will make the `OPTIONS` preflight requests succeed with 200 and the actual request will fail with the response from your error handler, which can then be parsed by clients as usual.

That's how I implemented it in my backend after struggling with not receiving the correct error responses in javascript.

[2020-11-04 09:08] nanfangstation opened #283 "from origin 'https://xxx.com' has been blocked by CORS policy"
Hi, I recently encountered an occasional problem. Could you help me look at this problem? Thank you very much.

[code]

![image](https://user-images.githubusercontent.com/27883550/98091271-25b36500-1ec0-11eb-9614-8f1e0be5647c.png)

[2020-12-13 20:35] jamesdhope opened #284 "Access-Control-Allow-Credentials header in the Preflight request not set in Preflight Request"
The specific issue is that the Access-Control-Allow-Credentials header in the Preflight request needs to be true, which should be taken care of by the Flask-Cors plugin (see https://flask-cors.readthedocs.io/en/latest/).

The plugin fails to set the Access-Control-Allow-Credentials header to true when the decorator is applied to the endpoint, in the following configuration:

[code]

[2020-12-14 12:06] #284 closed

[2020-12-15 02:47] kartzke opened #285 "Support for Apple's arm64 architecture (osx-arm64)"
Hi, I'm trying to install `flask-cors` on a new Apple MacBook with Apple Silicon, but it fails to install via Conda due to no packages matching the architecture. Would it be possible to add support for this?

[2020-12-22 17:54] corydolphin commented on #285
Hey @kartzke I don't personally maintain the packages in conda. Can you confirm if you are able to install directly with `pip`? It should correctly identify the source package instead of the bdist wheel.

[2020-12-22 17:55] #259 closed

[2021-01-06 16:45] doandzhiFt commented on #279
Hello, I have the same problem. I would really appreciate some help.

[2021-01-09 19:48] jshhrrsn commented on #279
@doandzhiFt It was a while ago since we had this issue, but I think, in the end, it wasn't an issue with the library but rather that our CloudFormation wasn't configured with the matching specification. I.e. the app was set up to accept those headers but the server running the application hadn't been configured to do so.

[2021-01-09 19:48] #279 closed

[2021-01-29 05:33] amandesai01 opened #289 "Flask-Cors not working while using url_prefix in blueprints"
I was using `flask-cors` for my flask application which failed to enable cors for blueprints where buleprints were registered along with `url_prefix` as their property. However, when I removed `url_prefix` and manually added prefix in blueprints, cors seemed to be working fine.

## Example
#### This code works properly
[code]

#### This code doesn't allow CORS
[code]

[2021-02-16 03:56] gitonthescene opened #290 "Small typo in documentation"
On [this page](https://flask-cors.readthedocs.io/en/3.0.10/api.html) the last heading is “Using the _cross_origins_ decorator”.  I believe _cross_origins_ should be singular.

[2021-02-16 03:58] gitonthescene commented on #290
Also I think [Decorator for the HTTP Access Control](http://flask.pocoo.org/snippets/56/) is a dead link.

[2021-02-17 16:19] bbbart commented on #290
Yes, you're right. I created a small pull request to fix those. Thanks for bringing this up.

By the way, all Flask snippets seem to be gone: https://github.com/pallets/website/issues/41

[2021-02-22 16:47] nejat-njonjo commented on #289
I was facing the same issue but the error was generated by undefined variables etc. Also in the frontend I set withCredentials to true.

Try this:

[code]

With credentials
[code]

[2021-02-22 16:54] nejat-njonjo commented on #283
This error is sometimes caused by uncaught exceptions in your program.

Try this:

[code]

[2021-03-30 16:07] ryanbrwr opened #292 "Getting CORS preflight error even with flask cors initialized"
Hey guys, I've been trying to get flask_cors to work for over two weeks now, so thought that I would write an issue.

Here's what is in the init.py file

[code]

The error that I'm getting is:

[code]
Went into the library to poke around and it looks like the after request isn't being called. The backend is running on localhost:5000 and the frontend is running on localhost:8080, and help would be

[2021-05-19 09:05] shrhawk-entertainer commented on #292
@ryanbrwr did you find any solution?

[2021-05-24 02:26] ryanbrwr commented on #292
@shrhawk-entertainer No unfortunately I never found a solution and I am currently having to develop with CORS disabled in safari to get around this.

[2021-05-25 05:57] gitonthescene commented on #290
I think this issue can probably be closed.

[2021-06-04 04:41] eduardoroliveira opened #295 "Request was aborted before response was completed - Python 3"
My ReactJs application successfully consumes a python 2 / flask with flask-cors web services app.

After migrating the application to python 3, the first endpoint returns successfully but the subsequent calls to a second endpoint are aborted before the response is completed.

The service is responding 200 on the web services side, but the browser aborts the request. Again, the same app works just

[2021-06-04 05:00] corydolphin commented on #295
Hey! Can you please enable debug logs? That should help clarify what’s going on and why. There’s an example of how to enable them in the README.

[2021-06-04 22:14] eduardoroliveira commented on #295
Hi @corydolphin, thank you very much for helping with this.

I collected the logs as you asked. The first call to `/api/auth` endpoint works just fine. The calls after that do not work. I inverted the failing endpoint as the first call and it started working...

This is the log:

[code]

This is the browser request `/api/signal` :

[code]

I see the Status as `(canceled)`, Size `0 B`  and Time bet

[2021-06-04 22:36] eduardoroliveira commented on #295
this is the log for the python 2 version that is working, for reference...

[code]

[2021-06-05 01:09] eduardoroliveira commented on #295
Nevermind! Found the problem was nonrelated. The structure of the JWT changed and because that my application keep invalidating the call and retrying, so keep sending a new call aborting the web services calls...

Thanks for your help anyway!

Have a great weekend!

[2021-06-05 01:09] #295 closed

[2021-06-05 03:27] corydolphin commented on #295
Glad to hear it! One request: is there anything you would change in the documentation to help a future version of yourself figure this out more easily?

[2021-06-29 18:40] hans2520 commented on #257
You can also try `@app.route('/user/', methods=['GET'], strict_slashes=False)` to make this work without getting the 308 response.

[2021-07-06 15:22] aalokrmb commented on #289
I am facing the same issue, can anyone please tell me how to resolve it?

[2021-07-14 15:02] amandesai01 commented on #289
@aalokrmb
I know my solution is not good, but this was a proper workaround for me. Don't provide `url_prefix` while registering blueprint and everything will work fine.

[2021-07-15 16:17] CrafterSvK commented on #292
@ryanbrwr Does your OPTIONS call to server return 200 OK?

[2021-07-15 16:44] CrafterSvK opened #297 "Preflight requests must return OK"
Hello, I found out that every OPTIONS request from origin must provide response with response code 200. Without the response code, it will get ignored and preflight request fails. Should we implement this or make it more visible? (Solution is to create before_app_request and checking the OPTIONS method in your flask application). But if preflight should fail due to Access-Control-Allow-Origin not

[2021-07-15 22:43] ryanbrwr commented on #292
I gave up a long time ago and used a different lib, appreciate it though.

[2021-07-16 19:24] Elynad commented on #292
@ryanbrwr what lib did you used ?
I am facing a similiar problem 😕

[2021-07-16 22:21] cohi-dev commented on #292
@Elynad did you implement the `app.before_request`  hook ?

[2021-07-17 09:53] Elynad commented on #292
@cohi-dev Yes, I did

Here is a part of my code :

`from flask import Flask
from flask_cors import CORS
from typing import List, Dict
import mysql.connector
import json

app = Flask(__name__)
CORS(app)

[...]

@app.after_request
def add_header(response):
    response.headers['Access-Control-Allow-Origin'] = '*'
    return response

@app.route('/')
def hello() :
    return 'This is a test to check

[2021-07-17 10:14] CrafterSvK commented on #292
Check network tab in browser and check preflight response paste it here.

[2021-07-20 17:00] Elynad commented on #292
![Screenshot 2021-07-20 at 18 58 34](https://user-images.githubusercontent.com/20539671/126365103-a5504540-aff4-4022-9f21-7d40a6edc2e9.png)

I did not manage to copy it, but here you go

I just replaced "localhost" API address with "127.0.0.1", and I get the same result

[2021-07-20 23:27] johnarumemi-qs commented on #257
for app wide configuration of this try:

`app.url_map.strict_slashes = False`

Thanks for the solution @hans2520 , that led me to this solution I found elsewhere.

[2021-07-21 06:30] shrhawk-entertainer commented on #292
@Elynad what I did is

[code]

[2021-07-21 07:40] Elynad commented on #292
@shrhawk-entertainer It seems to be a good answer, but where do you get `request` from ?

[2021-07-21 07:50] CrafterSvK commented on #292
You import it from flask module. Check documentation on how it works if you want to know how it works.

[2021-07-21 07:54] Elynad commented on #292
Right.
I added `from flask import request`.

Does not seems to work, I will make some tests this friday to keep you in touch

[2021-07-21 07:57] CrafterSvK commented on #292
What do you mean by does not work. Do you have it registered in right blueprint. Have you tried breakpoint in that before request?

[2021-07-23 05:25] Elynad commented on #292
Preflight request did return status 200.

But the original request does not seems to work, and I get nothing in the "Response" tab when I click on the request.

![Screenshot 2021-07-23 at 07 23 33](https://user-images.githubusercontent.com/20539671/126740548-db445e72-01b6-412c-abb1-f63bd0b0da51.png)

[2021-07-30 23:23] PhilipRead commented on #289
Just thought I'd throw my perspective. I was having the same issue and I could not for the life of me understand why some calls were getting CORS errors.
Upon closing inspection I realized that the 'bad' urls where returning 308s. After looking at the Location header I realized that it was failing because my blueprint routes for those failing endpoints had trailing slashes in them. Once I took the

[2021-09-09 19:05] amCap1712 commented on #228
@corydolphin We want to use Flask-CORS in our app too and this feature is useful to us as well. I am interested in submitting a PR for this enhancement. What should be the semantics for this feature w.r.t to the existing mechanisms ? For example: if the `cross_origin` decorator is used with `allow_headers`, should the cross_origin decorator's `allow_headers` take precedence over the ones specified

[2021-09-12 15:28] corydolphin commented on #228
Ahh, I understand now. Agreed, this would be an enhancement!

I agree, I think I would expect:

1. decorator
2. View/route definition
3. App level config.

I’d happily accept a PR to improve this. Thank you all for taking the time to provide the detailed issue and suggestion!

[2021-09-14 13:07] shuttle1987 commented on #292
@Elynad  I'd suggest that you use the logging functionality provided by flask to do this logging.

[2021-09-24 06:08] gianlukk994 commented on #289
Defining url_prefix inside Blueprint constructor works.

[code]

[code]

Btw it's strange, hope they fix it.

[2021-09-25 09:30] emilJS777 commented on #200
I have the same problem too,
who knows if there are other alternatives like a flask-cors, but to work fine?

[2021-10-09 12:31] DimoDimchev opened #298 "Flask can't import flask-cors"
I am trying to use the `@cross_origin` decorator in my Flask app and I receive the following error: `ModuleNotFoundError: No module named 'flask_cors'`. Is there a solution to this problem?

I installed the package using the `pip install -U flask-cors` command

[2021-11-07 15:57] givanchick commented on #200
Can you explain how to do it correctly?

[2021-11-07 16:13] givanchick commented on #200
[code]

[2021-11-08 07:05] emilJS777 commented on #200
frankly, the delete request does not work. 
but the rest of the requests are processed fine.
thanks in advance
 

CORS_ALLOW_ORIGIN="*,*"
CORS_EXPOSE_HEADERS="*,*"
CORS_ALLOW_HEADERS="content-type,*"
cors = CORS(app, origins=CORS_ALLOW_ORIGIN.split(","), allow_headers=CORS_ALLOW_HEADERS.split(",") , expose_headers= CORS_EXPOSE_HEADERS.split(","),   supports_credentials = True)
—
You are receiving

[2021-11-12 04:24] Pitambara16 opened #299 "Not able to resolve : Not found flask-cors"

[2021-11-22 01:58] chrisdlangton opened #300 "unnecessary list, leads to insecure CORS configurations"
https://github.com/corydolphin/flask-cors/blob/24c45cef84a160207057c7c0735fc5fb08143420/flask_cors/decorator.py#L33

The value for header `Access-Control-Allow-Origin` [allows one origin, and only one](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin).

When the value is zero origins, or more than 1 origin, produces `Reason: CORS header 'Access-Control-Allow-Or

[2021-11-25 08:15] adamelmohamad commented on #55
life saver

[2021-12-10 09:28] bernd-stahl opened #301 "Configuring a flask application more than once should overwrite previous configuration"
When (by mistake), CORS for a flask application is configured more than once, like so:
[code]
this results in multiple `cors_after_request` functions added to the flask application, which are all called sequentially for each request.

So effectively, the most permissive options for any matched resource are applied:
[code]

This behavior is quite surprising and most probably not what is intended.

[2021-12-18 11:15] Rodrigolmti commented on #257
I hope more people see your response, there is several links and issues open about this issue and none of them mention this. This solve my problem.

I started to get this error after migrating my api's to blueprints, and didn't notice that the path was different.

Thank you.

[2021-12-25 09:17] dodler opened #302 "cors error with application/json and without json"
I'm making request with header application/json but no json provided and I get cors error. However my cors makes no error, when this header is not provided.

It also works vice versa (json provided, but no header application/json)

Is it correct?

[2022-01-01 14:12] amCap1712 commented on #228
@corydolphin Hi! Apologies I was busy elsewhere earlier and only remembered about this recently. I have opened a PR for this issue now.

[2022-01-09 19:49] limoruirui opened #305 "it don’t work"
# It doesn't work properly, when I ask for a front end. My API uses the server's public IP: port, not using the HTTPS protocol but use the HTTP protocol(http://ip:3000/index). The following is my code and log.

## cat server.py
[code]

## cat loggingDEBUG.log
[code]

[2022-01-14 10:55] gemisolocnv commented on #201
You are my savior @gwvt . Thank you very much

[2022-01-17 02:20] overbid commented on #292
I think the best way to avoid this issue is add more rule for url like.
[code]

[2022-01-24 00:20] EdmundsEcho commented on #302
I seem to be getting the same behavior.  I tried to be more explicit in my headers by specifying json content and out of "nowhere" I'm getting cors errors.

[2022-02-07 15:11] amandesai01 commented on #289
Yes sure. Lot of solutions have come up.
So, here are final work arounds:
1. https://github.com/corydolphin/flask-cors/issues/289#issuecomment-926371319
2. https://github.com/corydolphin/flask-cors/issues/289#issuecomment-879969094

Closing this issue now.

[2022-02-07 16:13] nejat-njonjo commented on #305
Try to phrase your question/issue properly so that you get a proper solution to your problem.

But What I am getting from is the same issue about cors [Issue 305 about CORS](https://github.com/corydolphin/flask-cors/issues/289)

[2022-02-07 16:14] nejat-njonjo commented on #302
Try checking out [Issue about cors](https://github.com/corydolphin/flask-cors/issues/289)

[2022-02-15 11:11] tobiaslocker commented on #297
I found this behavior also irritating, forces me to add the following logic when I e.g. want to return 201 for a POST request

[code]

This seems redundant and I guess it could be handled in `flask-cors`

[2022-03-02 17:54] mdantonio commented on #275
That would be very useful!

[2022-03-03 13:04] HitLuca commented on #275
Since it's a year+ old issue, I can suggest using [monkeytype](https://monkeytype.readthedocs.io/en/latest/index.html) to generate type hints, based on running the project's tests and generating type hints from them. If I have the time I will try to push a PR

[2022-03-17 22:38] Jerakin commented on #289
I am having issues getting flask cors work for me too.
I am using `flask-restx` as my rest helper.

I am using 'Namespace` from restx (their version of bluebrints).

[code]

and I am trying to enable cors on the api end points

[code]

This is what's trying to call

[code]

Am I doing something odd here? Can someone see a fix for it? Have anyone had any luck with flask-cors and flask-restx togethe

[2022-03-18 07:30] smccaffrey opened #307 "Unable to install with python version 3.8.9"
Command
[code]

Error
[code]

Probably a simple fix, but I can't seem to get passed it 😢

[2022-03-18 07:32] smccaffrey commented on #298
@DimoDimchev did you ever find a solution here? I am experiencing a similar issue with accessing a flask endpoint via a POST request from another app.

[2022-03-19 21:33] petatemarvin26 commented on #201
for what was the purpose of `request.method == 'OPTION'` in Flask Middleware, `before...request` and `after...request`, 🤔

[2022-03-22 12:16] nejat-njonjo commented on #289
When you allow all origins (*) make sure you have credentials turned off in your request otherwise specify the origins.

This is how I always set up a flask server.

[code]

Then in your request headers add
[code]

If it doesn't work, Let me know.

[2022-03-22 22:04] Jerakin opened #308 "issues getting flask-cors to work with flask-restx namespaces with a specifed path"
I left a comment in https://github.com/corydolphin/flask-cors/issues/289 but was told that "This issue must be closed now", I can only interpreter that as I should open a new issue :)

I have of course tried everything in that thread but it didn't help me resolve my issue.

I have assembled a reproduction case below. In the console that is running flask I don't get any relevant logs and the websit

[2022-03-26 08:18] mangelozzi opened #309 "Allow one to add Access-Control-Allow-Private-Network true to CORS preflight"
The next release of Chrome (v101) will block CORS to private networks (I get this warning when I open the console):

To mitigate these risks, Chrome will require non-public subresources to opt-into being accessed with a preflight request and will start blocking them in Chrome 101 (April 2022).
To fix this issue, ensure that response to the preflight request for the private network resource has the

[2022-03-31 10:40] alfechner opened #310 "Header `Access-Control-Allow-Methods` not set"
I used used the [simple usage example](https://flask-cors.readthedocs.io/en/latest/#simple-usage) from the docs:

[code]

I used `curl -I http://127.0.0.1:5000/` to check the headers and received the following output:

[code]

For my understanding the `Access-Control-Allow-Methods` header is missing.

I changed `CORS(app)` to `CORS(app, methods=["GET"])`. Still the same result.

My `requirements.t

[2022-04-18 15:29] fatzh commented on #310
We're facing the same issue, the `Access-Control-Allow-Methods` is only returned in the following cases:

* if the header `Access-Control-Request-Method` AND `Origin` is set in the request
* if the header `Access-Control-Request-Method` AND `CORS_SEND_WILDCARD` is set to `True`

Something changed (I guess?) but not really sure is it's something that needs fixing here on in the front app...

[2022-04-19 15:09] lewiswilliam commented on #310
please check https://stackoverflow.com/questions/71924917/not-getting-access-control-allow-headers-and-access-control-max-age-with-flask-c

[2022-04-20 08:13] fatzh commented on #310
the preflight queries are automatically handled, and looking at the developer tools in chrome it looks like the response is not always the same. Our scenario is fairly standard:

* user makes a request to the `/api/me/` endpoint, preflight is sent:

[code]

preflight response looks good:

[code]

* token (JWT) has expired (401 with token expired message), browser makes a refresh request, preflight

[2022-04-20 19:25] gitpushdashf opened #313 "Type hints"
Hi,

Would it be possible to add type hints and a py.typed file? This would enable `mypy` and the like to do static type checking of this project.

Thank you!

[2022-04-21 06:02] fatzh commented on #310
after more investigation and logging, this seems to happen only when flask runs in development mode, where some payload get somehow injected in the `request.environ['REQUEST_METHOD']` value, so instead of a simple `GET` we get something like `{"data": "123"}GET`.

When running with gunicorn, it works fine. So I'll investigate further if I can setup a simple case where this breaks I'll follow up wi

[2022-05-29 14:11] kloczek opened #317 "3.0.10: sphinx warnings `reference target not found`"
On building my packages I'm using `sphinx-build` command with `-n` switch which shows warmings about missing references. These are not critical issues.
Here is the output with warnings:

<details>

[code]
</details>

You can peak on fixes that kind of issues in other projects
https://github.com/latchset/jwcrypto/pull/289
https://github.com/click-contrib/sphinx-click/commit/abc31069
https://github.

[2022-06-13 21:30] bacarPereira commented on #283
In my case the cors configuration was correct. I had to change the` PROPAGATE_EXCEPTIONS` attribute to false in the app settings.
[code]

[2022-06-16 18:31] FLAGLORD commented on #292
Did someone find some solution? It really sucks.....

[2022-06-20 04:14] echoboomer commented on #292
This worked brilliantly for me: https://github.com/corydolphin/flask-cors/issues/292#issuecomment-883929183

[2022-06-21 11:22] pluveto opened #319 "'CORS' object has no attribute 'handle_exception'"
code:

[code]

[2022-06-21 11:23] pluveto commented on #319
version: flask 2.1.2 cors 3.0.10

[2022-06-21 11:25] pluveto commented on #319
using with [Flask-RESTful](https://flask-restful.readthedocs.io/) 0.3.8

[2022-06-21 11:35] pluveto commented on #319
Oh, CORS is not a pipeline, I should not use its ret val

[2022-06-21 11:35] #319 closed

[2022-06-24 14:28] joaodlf commented on #292
Wow. This works for me too. Effectively returning a 200 on OPTION requests (pre flight).

My app has no issues under **127.0.0.1** using this library, but as soon as I switched to **localhost**, I was hitting this same issue.

Would really like to understand why.

[2022-07-08 06:54] Tingweiftw opened #320 "enforcing same origin policy with flask-cors"
While this library is used to enable cors, is there an option to disable the default wildcard value in CORS_ORIGIN without explictly defining trusted domains in a string/list so it defaults back to same origin policy?

[2022-07-11 14:33] mtdutaro opened #321 "Next.JS API Call to Flask API POST Endpoint - `Access-Control-Allow-Credentials` is not set properly"
I'm trying to pass in a cookie to a `Flask API POST Endpoint`

[code]

However, the error I get when making this request in the browser is

[code]

My set-up using `flask-cors` is

[code]

[2022-07-19 03:45] EdmundsEcho commented on #310
Any updates?

Ironically, I don't need CORS in production.  It's only in dev/debugging mode that CORS is important to have working.  I tried to set the header manually with the origin '*'... nothing seems to get the Response to include the header.

[code]

[2022-07-25 14:04] InesIvanova commented on #200
This comment is not directly related to the question, but it is a subcase of CORS issues. I have seen this error many times before, so I will share it and hope it will help someone.
If you are using flask-cors, even with the basic setup (not recommended for production, you have to restrict the requests)
`
from flask import Flask
from flask_migrate import Migrate
from flask_restful import Api

from

[2022-08-31 21:05] lsiden opened #322 "Package prints unexpected DEBUG messages when app runs"
My web app includes flask-cors as a dependency. In the log file, there are frequent messages like:

`DEBUG .../venv/lib/python3.10/site-packages/flask_cors/core.py:247 Settings CORS headers: MultiDict([])`

The default log level in my app in logging.INFO and I do not see it overridden anywhere. How did this logger get enabled in core.py?

[2022-10-25 15:10] derek-adair commented on #305
This is not a good question for this bug tracker as this is **almost certainly** not a bug.  This type of question would garner much better results on stackoverflow.com and doesn't belong here.

[2022-10-25 16:03] derek-adair commented on #322
This is an issue on your end.  log level is not set anywhere here except the examples.

[2022-10-25 17:06] derek-adair commented on #320
This is something that would make a great pull request ;)

[2022-10-27 12:10] Helveg commented on #320
I came here to open just the same exact issue. Many, let's say 5 nines of all developers, see CORS as a frustration and just disable it, but it is an important measure to limit the severity of XSS attacks. Flask-CORS' current defaults contribute to this nonchalance by by default completely disabling CORS. The documentation should be restructured so that the index page explains how to actually safe

[2022-10-27 12:21] Helveg opened #324 "Unknown keyword arguments silently ignored"
When passing additional, or misspelled, keyword arguments to `CORS`, and probably elsewhere, they are silently ignored.

This means that a `CORS(app, rigins=["mydomain.com"], send_wildcard=True)` would produce false positive `*` wildcards for any domain.

Is there a design reason that leftover unknown keyword arguments can't be raised as an error?

[2022-10-28 11:08] derek-adair commented on #320
This is a very good point.  I'd be willing to guess a LOT of people here are using this project to bypass CORS altogether.  It's a much more secure default.

[2022-10-28 11:22] Helveg commented on #320
To get this Same Origin behaviour, I should grab the host and protocol as the default value for `origins`, right? I can PR that and propose a draft for the doc index.

[2022-10-28 12:21] derek-adair commented on #320
this would be a major version bump a la breaking changes.

[2022-11-25 22:06] corydolphin commented on #320
Hey folks,

Loosely held opinions open to change.

First, everything above is probably accurate.

The main security attack vector I'm familiar with with CORS is via CSRF, which is why cookies are disabled by default. I'm open to changing this such that the default is to ask for an origin list, with special handling of "*".

Honestly, this library could use a major version bump to land a number of

[2022-11-25 22:14] corydolphin commented on #324
I don't recall if this was an intentional decision I made adhering too closely to Postel's Law, or ease/laziness. Either way, I now feel strongly this was the wrong decision :-)  Changing this to be explicit would be a big improvement, though may require a semver bump.

I'd love to see it happen, in addition to real, strict MyPy support for this project. I'd be happy to review contributions, and o

[2022-11-28 09:47] Helveg commented on #320
The philosophy is sound, it leads to simple effortless setup of CORS. In the context of security this ease-of-use could lead to carelessness, and as the most popular package for CORS for Flask you shape the landscape quite a bit. As probably mentioned before in this thread, CORS is encountered more as an annoyance than as a security concern. That's why I'd argue the philosophy shouldn't centre 100

[2022-11-28 09:57] Helveg commented on #324
Great, I've been on a bit of a type-hinting-bandwagon-spree lately so I'll see if I find time for this next weekend :) I'll make 2 separate PRs for it!